{% if languages|length >= 1 %}
<li class="language">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
        <h3 class="text-ex switcher-title">{{ text_language }}</h3>
        <ul class="switcher-option">
            {% for language in languages %}
            {% if language.code == code %}
            <li><button class="btn btn-link btn-block language-select item-selected" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
            {% else %}
            <li><button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
            {% endif %}
            {% endfor %}
        </ul>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
    </form>
</li>
{% endif %}