{% if blocks %}
<div class="container a-block">
{% if column %}{% set class=12/column %}{% endif %}
{% if column==5 %}{% set class='5ths' %}{% endif %}
{% if heading_title %}
<div class="title">{{ heading_title }}</div>
{% endif %}
<div class="row">
{% set image_row = 0 %}
{% for block in blocks %}
<div class="col-sm-{{ class }}">
{% if align=='left' %}
<div class="a-block1">
<img src="{{ block.image }}" alt="name">
<div>
<h4>{{ block.title }}</h4>
<p>{{ block.description }}</p>
</div>
</div>
{% else %}
<div class="a-block2">
<img src="{{ block.image }}" alt="name">
<div>
<h4>{{ block.title }}</h4>
<p>{{ block.description }}</p>
</div>
</div>
{% endif %}
</div>
{% set image_row = image_row + 1 %}
{% endfor %}
</div>
{% if column==5 %}
<style>
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
</style>
{% endif %}
</div>
{% endif %}
