<div class="hozmenu-container">
	<div class="mobileMenu-container">
		<div id="mobileMenu" class="mobileMenu inactive">
			<a class="mobileMenu-toggle">
				{% if mobile_menu %}
				<span class="mobileMenu-label">{{ menu_title }}</span>
				{% else %}
				<span class="mobileMenu-label">{{ category_title }}</span>
				{% endif %}
				<span class="mobileMenu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
			</a>
		</div>
		{{ _menu }} 
	</div>
	<div class="nav-container visible-lg visible-md">		
		<div id="pt_custommenu" class="pt_custommenu">
			{{ hozmegamenu }}
		</div>
	</div>
	<div id="sticky-menu" data-sticky="{{ sticky_menu }}"></div>
	<script type="text/javascript">
		//<![CDATA[
		var body_class = $('body').attr('class'); 
		if(body_class.search('common-home') != -1) {
			$('#pt_menu_home').addClass('act');
		}	
		var CUSTOMMENU_POPUP_EFFECT ={{ effect }}
		var CUSTOMMENU_POPUP_TOP_OFFSET = {{ top_offset }}
		//]]>
	</script>
</div>