<div id="last{{ mod }}" class="block">
{% for product in products %}
<div class="product-layout">
<span class="isotope-item{% if (product.quantity < 1) %} nostock{% endif %}">
<div class="overlay">
{% if product.price %}
<p class="price">
{% if not product.special %} {{ product.price }} {% else %}
<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
{% endif %}
</p>
{% endif %}
<button type="button" onclick="cart.add('{{ product.product_id }}');" {% if (product.quantity < 1) %}class="nobuy" disabled{% endif %}>
<svg class="svg-icon" style="width: 30px; height:30px;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.666667 298.666667h-128V256a170.666667 170.666667 0 0 0-341.333334 0v42.666667H213.333333a42.666667 42.666667 0 0 0-42.666666 42.666666v469.333334a128 128 0 0 0 128 128h426.666666a128 128 0 0 0 128-128V341.333333a42.666667 42.666667 0 0 0-42.666666-42.666666z m-384-42.666667a85.333333 85.333333 0 0 1 170.666666 0v42.666667h-170.666666z m341.333333 554.666667a42.666667 42.666667 0 0 1-42.666667 42.666666H298.666667a42.666667 42.666667 0 0 1-42.666667-42.666666V384h85.333333v42.666667a42.666667 42.666667 0 0 0 85.333334 0V384h170.666666v42.666667a42.666667 42.666667 0 0 0 85.333334 0V384h85.333333z"  /></svg>
</button>
<a href="{{ product.href }}" >{{ product.name }}</a>
</div>
<img data-original="{{ product.thumb }}" {{ lazy_load_width_height }} alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive lazy-load" />
</span>
</div>
{% endfor %}
</div>

<script>
$(function(){
	var siteIstotope = function() {
		var $container = $('#last{{ mod }}').isotope({
			itemSelector : '.product-layout',
			isFitWidth: true
		});
		$(window).resize(function(){
			$container.isotope({
				columnWidth: '.product-layout'
			});
		});
	}
	siteIstotope();
})
</script>