<div id="cart">
<button type="button" data-toggle="modal" data-target="#cartmodal"> 
<svg width="24px" height="26px" viewBox="0 0 24 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="cart" fill="var(--text2)" fill-rule="nonzero">
<path d="M12,0 C9.253906,0 7,2.253906 7,5 L7,6 L2.0625,6 L2,6.9375 L1,24.9375 L0.9375,26 L23.0625,26 L23,24.9375 L22,6.9375 L21.9375,6 L17,6 L17,5 C17,2.253906 14.746094,0 12,0 Z M12,2 C13.65625,2 15,3.34375 15,5 L15,6 L9,6 L9,5 C9,3.34375 10.34375,2 12,2 Z M3.9375,8 L7,8 L7,11 L9,11 L9,8 L15,8 L15,11 L17,11 L17,8 L20.0625,8 L20.9375,24 L3.0625,24 L3.9375,8 Z" id="Shape"></path>
</g>
</g>
</svg>
<span id="cart-total">{{ text_items }}</span></button>
<div class="modal fade" tabindex="-1" id="cartmodal" role="dialog" >
<div class="modal-dialog modal-block" role="document">
<button type="button" data-dismiss="modal" aria-label="close" class="modal-close"><span aria-hidden="true">&times;</span></button>
<div class="menu-modal">
<ul class="cart-block">
{% if products or vouchers %}
<li>
<table class="table cart-table">
{% for product in products %}
<tr class="flex-center">
<td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> {% endif %}</td>
<td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
{% for option in product.option %} <br />
- <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
{% endif %}
{% if product.recurring %} <br />
 - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
<td class="text-right">{{ product.total }}</td>
<td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="cart-close"><span aria-hidden="true">&times;</span></button></td>
</tr>
{% endfor %}
{% for voucher in vouchers %}
<tr>
<td class="text-center"></td>
<td class="text-left">{{ voucher.description }}</td>
<td class="text-right">{{ voucher.amount }}</td>
<td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="cart-close"><span aria-hidden="true">&times;</span></button></td>
</tr>
{% endfor %}
</table>
</li>
<li>
<div>
<table class="table cart-total">
{% for total in totals %}
<tr>
<td class="text-right"><strong>{{ total.title }}</strong></td>
<td class="text-right">{{ total.text }}</td>
</tr>
{% endfor %}
</table>
<p class="text-center">
<a href="{{ cart }}" class="btn btn-primary">{{ text_cart }}</a></br></br>
<a href="{{ checkout }}" class="btn btn-default">{{ text_checkout }}</a></p>
</div>
</li>
{% else %}
<li>
<p class="text-center cart-text">{{ text_empty }}</p>
</li>
{% endif %}
</ul>
</div>
 </div>
</div>
</div>