{% if categories %}
        {% for category in categories %}
        {% if category.children %}
        <li>
		<a href="{{ category.href }}" class="menu-link">{{ category.name }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">   {% for children in category.children|batch(category.children|length ) %}
              <ul class="menu-list">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}" class="menu-link">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
{% endif %} 