<div class="module module-carousel">
    <div class="module-content module-carousel-content owl-carousel owl-theme">
        {% for banner in banners %}
        <div class="item module-carousel-item">
            {% if banner.link %}
            <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
            {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    $('.module-carousel .module-carousel-content').owlCarousel({
        items: 5,
        loop: true,
        autoplay: true,
        nav: true,
        dots: false,
        navSpeed: 1000,
        margin: 0,   
        navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
        responsive:{
            0:{
                items: 1,
            },
            480:{
                items: 2,
            },
            640:{
                items: 3,
            },
            768:{
                items: 3,
            },
            992:{
                items: 4,
            },
            1200:{
                items: 5,
            },
        },        
    }); 
</script>