{{ header }}
<div id="product-manufacturer">
    <div class="page-content">
        <h2 class="page-title">{{ heading_title }}</h2>
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
        <div class="container">
            <div class="row">
                {{ column_left }}
                {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
                {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
                {% else %}
                {% set class = 'col-sm-12' %}
                {% endif %}
                <div id="content" class="{{ class }}">
                    {{ content_top }}
                    <div class="custom-category">
                        {% if products %}
                        <div class="category-compare"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
                        <div class="toolbar clearfix">
                            <div class="view-mode">
                                <div class="btn-group">
                                    <button type="button" id="grid-view" class="btn btn-default"><i class="fa fa-th"></i></button>
                                    <button type="button" id="list-view" class="btn btn-default"><i class="fa fa-th-list"></i></button>
                                </div>
                            </div>
                            <div class="toolbar-ordering">
                                <select id="input-sort" class="form-control" onchange="oclayerednavigationajax.filter(this.value)">
                                    {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <option value="{{ sorts.href }}" selected="selected">{{ text_sort~sorts.text }}</option>
                                    {% else %}
                                    <option value="{{ sorts.href }}">{{ text_sort~sorts.text }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="toolbar-show">
                                <select id="input-limit" class="form-control" onchange="oclayerednavigationajax.filter(this.value)">
                                    {% for limits in limits %}
                                    {% if limits.value == limit %}
                                    <option value="{{ limits.href }}" selected="selected">{{ text_limit~limits.text }}</option>
                                    {% else %}
                                    <option value="{{ limits.href }}">{{ text_limit~limits.text }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="custom-products clearfix">
                            {% for product in products %}
                            <div class="product-layout product-list col-xs-12">
                                <div class="product-wrapper">
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="{{ product.href }}">
                                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                                {% if product.rotator_image %}
                                                <img class="img-r img-responsive" src="{{ product.rotator_image }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                {% endif %}
                                            </a>
                                            {% if product.special %}
                                            <div class="label-product label_sale">{{ text_label_sale }}</div>
                                            {% endif %}
                                            {% if product.is_new %}
                                            <div class="label-product label_new">{{ text_label_new }}</div>
                                            {% endif %}
                                            <div class="action-links">
                                                <button class="btn-cart" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}')"><span>{{ button_cart }}</span></button>
                                                <button class="btn-quickview" type="button" data-toggle="tooltip" title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><span>{{ button_quickview }}</span></button>
                                            </div>
                                            <div class="product-wishlist">
                                                <button class="btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span>{{ button_wishlist }}</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        {% if product.manufacturer %}
                                        <div class="manufacture-product">
                                            <a href="{{ product.manufacturers }}">{{ product.manufacturer }}</a>
                                        </div>
                                        {% endif %}
                                        <h3 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                {% for i in 1..5 %}
                                                {% if product.rating == i %}
                                                {% set class_r = "rating"~i %}
                                                <div class="{{ class_r }}">rating</div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if product.price %}
                                        <div class="price">
                                            <div class="price-inner">
                                                {% if not product.special %}
                                                {{ product.price }}
                                                {% else %}
                                                <span class="price-old">{{ product.price }}</span><span class="price-new">{{ product.special }}</span>                        
                                                {% endif %}
                                                {% if product.tax %}
                                                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        <p class="product-desc">{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="toolbar-bottom">
                            <div class="row">
                                <div class="col-sm-6 show-page">{{ pagination }}</div>
                                <div class="col-sm-6 text-result text-right">{{ results }}</div>
                            </div>
                        </div>
                        {% else %}
                        <p>{{ text_empty }}</p>
                        <div class="buttons">
                            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
                        </div>
                        {% endif %}
                    </div>
                    {{ content_bottom }}
                </div>
                {{ column_right }}
            </div>
        </div>
    </div>
</div>
{{ footer }}