{{ header }}{{ column_left }}
{% set fonts = {
''                     	   : '- Default -',
'Arial'                    : 'Arial',
'Georgia'                  : 'Georgia',
'Helvetica'                : 'Helvetica',
'Lucida Grande'            : 'Lucida Grande',    
'Lucida Sans Unicode'      : 'Lucida Sans Unicode',
'Segoe UI'                 : 'Segoe UI',   
'Tahoma'                   : 'Tahoma',
'Times New Roman'          : 'Times New Roman',
'Trebuchet MS'             : 'Trebuchet MS',    
'Verdana'                  : 'Verdana',   
'Abel'                     : 'Abel',
'Abril+Fatface'            : 'Abril Fatface',
'Aclonica'                 : 'Aclonica',
'Acme'                     : 'Acme',
'Actor'                    : 'Actor',
'Adamina'                  : 'Adamina',
'Advent+Pro'               : 'Advent Pro',
'Aguafina+Script'          : 'Aguafina Script',    
'Aladin'                   : 'Aladin',
'Aldrich'                  : 'Aldrich',
'Alegreya'                 : 'Alegreya',
'Alegreya+SC'              : 'Alegreya SC',
'Alex+Brush'               : 'Alex Brush',
'Alfa+Slab+One'            : 'Alfa Slab One',
'Alice'                    : 'Alice',
'Alike'                    : 'Alike',
'Alike+Angular'            : 'Alike Angular',
'Allan'                    : 'Allan',
'Allerta'                  : 'Allerta',
'Allerta+Stencil'          : 'Allerta Stencil',
'Allura'                   : 'Allura',
'Almendra'                 : 'Almendra',
'Almendra+SC'              : 'Almendra SC',
'Amaranth'                 : 'Amaranth',
'Amatic+SC'                : 'Amatic SC',
'Amethysta'                : 'Amethysta',
'Andada'                   : 'Andada',
'Andika'                   : 'Andika',
'Angkor'                   : 'Angkor',    
'Annie+Use+Your+Telescope' : 'Annie Use Your Telescope',
'Anonymous+Pro'            : 'Anonymous Pro',
'Antic'                    : 'Antic',
'Antic+Didone'             : 'Antic Didone',
'Antic+Slab'               : 'Antic Slab',        
'Anton'                    : 'Anton',
'Arapey'                   : 'Arapey',
'Arbutus'                  : 'Arbutus',    
'Architects+Daughter'      : 'Architects Daughter',
'Arimo'                    : 'Arimo',
'Arizonia'                 : 'Arizonia',    
'Armata'                   : 'Armata',
'Artifika'                 : 'Artifika',
'Arvo'                     : 'Arvo',
'Asap'                     : 'Asap',
'Asset'                    : 'Asset',
'Astloch'                  : 'Astloch',
'Asul'                     : 'Asul',
'Atomic+Age'               : 'Atomic Age',
'Aubrey'                   : 'Aubrey',
'Audiowide'                : 'Audiowide', 
'Average'                  : 'Average',
'Averia+Gruesa+Libre'      : 'Averia Gruesa Libre',
'Averia+Libre'             : 'Averia Libre',
'Averia+Sans+Libre'        : 'Averia Sans Libre',
'Averia+Serif+Libre'       : 'Averia Serif Libre',                       
'Bad+Script'               : 'Bad Script',
'Balthazar'                : 'Balthazar',
'Bangers'                  : 'Bangers',
'Basic'                    : 'Basic',
'Battambang'               : 'Battambang',
'Baumans'                  : 'Baumans',
'Bayon'                    : 'Bayon',
'Belgrano'                 : 'Belgrano',
'Belleza'                  : 'Belleza',    
'Bentham'                  : 'Bentham',
'Berkshire+Swash'          : 'Berkshire Swash',    
'Bevan'                    : 'Bevan',
'Bigshot+One'              : 'Bigshot One',
'Bilbo'                    : 'Bilbo',
'Bilbo+Swash+Caps'         : 'Bilbo Swash Caps',
'Bitter'                   : 'Bitter',
'Black+Ops+One'            : 'Black Ops One',
'Bokor'                    : 'Bokor',
'Bonbon'                   : 'Bonbon',
'Boogaloo'                 : 'Boogaloo',
'Bowlby+One'               : 'Bowlby One',
'Bowlby+One+SC'            : 'Bowlby One SC',
'Brawler'                  : 'Brawler',
'Bree+Serif'               : 'Bree Serif',
'Bubblegum+Sans'           : 'Bubblegum Sans',
'Buda'                     : 'Buda',
'Buenard'                  : 'Buenard',
'Butcherman'               : 'Butcherman',
'Butterfly+Kids'           : 'Butterfly Kids',
'Cabin'                    : 'Cabin',
'Cabin+Condensed'          : 'Cabin Condensed',
'Cabin+Sketch'             : 'Cabin Sketch',
'Caesar+Dressing'          : 'Caesar Dressing',
'Cagliostro'               : 'Cagliostro',
'Calligraffitti'           : 'Calligraffitti',
'Cambo'                    : 'Cambo',
'Candal'                   : 'Candal',
'Cantarell'                : 'Cantarell',
'Cantata+One'              : 'Cantata One',
'Cardo'                    : 'Cardo',
'Carme'                    : 'Carme',
'Carter+One'               : 'Carter One',
'Caudex'                   : 'Caudex',    
'Cedarville Cursive'       : 'Cedarville Cursive',
'Ceviche+One'              : 'Ceviche One',    
'Changa+One'               : 'Changa One',
'Chango'                   : 'Chango',
'Chau+Philomene+One'       : 'Chau Philomene One',    
'Chelsea+Market'           : 'Chelsea Market',
'Chenla'                   : 'Chenla',    
'Cherry+Cream+Soda'        : 'Cherry Cream Soda',
'Chewy'                    : 'Chewy',
'Chicle'                   : 'Chicle',
'Chivo'                    : 'Chivo',    
'Coda'                     : 'Coda',
'Coda+Caption'             : 'Coda Caption',
'Codystar'                 : 'Codystar',
'Comfortaa'                : 'Comfortaa',
'Coming+Soon'              : 'Coming Soon',
'Concert+One'              : 'Concert One',    
'Condiment'                : 'Condiment',
'Content'                  : 'Content',    
'Contrail+One'             : 'Contrail One',
'Convergence'              : 'Convergence',
'Cookie'                   : 'Cookie',
'Copse'                    : 'Copse',
'Corben'                   : 'Corben',
'Cousine'                  : 'Cousine',
'Coustard'                 : 'Coustard',
'Covered+By+Your+Grace'    : 'Covered By Your Grace',
'Crafty+Girls'             : 'Crafty Girls',
'Creepster'                : 'Creepster',        
'Crete+Round'              : 'Crete Round',
'Crimson+Text'             : 'Crimson Text',
'Crushed'                  : 'Crushed',
'Cuprum'                   : 'Cuprum',
'Cutive'                   : 'Cutive', 
'Damion'                   : 'Damion',
'Dancing+Script'           : 'Dancing Script',
'Dangrek'                  : 'Dangrek',
'Dawning+Of+A+New+Day'     : 'Dawning of a New Day',
'Days+One'                 : 'Days One',        
'Delius'                   : 'Delius',
'Delius+Swash+Caps'        : 'Delius Swash Caps',
'Delius+Unicase'           : 'Delius Unicase',
'Della+Respira'            : 'Della Respira',
'Devonshire'               : 'Devonshire',
'Didact+Gothic'            : 'Didact Gothic',
'Diplomata'                : 'Diplomata',
'Diplomata+SC'             : 'Diplomata SC',
'Doppio+One'               : 'Doppio One',
'Dorsa'                    : 'Dorsa',
'Dosis'                    : 'Dosis',    
'Dr+Sugiyama'              : 'Dr Sugiyama',
'Droid+Sans'               : 'Droid Sans',
'Droid+Sans+Mono'          : 'Droid Sans Mono',
'Droid+Serif'              : 'Droid Serif',
'Duru+Sans'                : 'Duru Sans',
'Dynalight'                : 'Dynalight',
'Eater'                    : 'Eater',
'EB+Garamond'              : 'EB Garamond',
'Economica'                : 'Economica',
'Electrolize'              : 'Electrolize',
'Emblema+One'              : 'Emblema One',
'Emilys+Candy'             : 'Emilys Candy',    
'Engagement'               : 'Engagement',
'Enriqueta'                : 'Enriqueta',
'Erica+One'                : 'Erica One',
'Esteban'                  : 'Esteban',
'Euphoria+Script'          : 'Euphoria Script',
'Ewert'                    : 'Ewert',    
'Exo'                      : 'Exo',
'Expletus+Sans'            : 'Expletus Sans',
'Fanwood+Text'             : 'Fanwood Text',
'Fascinate'                : 'Fascinate',
'Fascinate+Inline'         : 'Fascinate Inline',
'Federant'                 : 'Federant',
'Federo'                   : 'Federo',
'Felipa'                   : 'Felipa',
'Fjord+One'                : 'Fjord One',
'Flamenco'                 : 'Flamenco',
'Flavors'                  : 'Flavors',
'Fondamento'               : 'Fondamento',
'Fontdiner+Swanky'         : 'Fontdiner Swanky',
'Forum'                    : 'Forum',
'Francois+One'             : 'Francois One',
'Fredericka+The+Great'     : 'Fredericka the Great',   
'Fredoka+One'              : 'Fredoka One',
'Freehand'                 : 'Freehand', 
'Fresca'                   : 'Fresca',
'Frijole'                  : 'Frijole',
'Fugaz+One'                : 'Fugaz One',
'Galdeano'                 : 'Galdeano',
'Gentium+Basic'            : 'Gentium Basic',
'Gentium+Book+Basic'       : 'Gentium Book Basic',
'Geo'                      : 'Geo',
'Geostar'                  : 'Geostar',
'Geostar+Fill'             : 'Geostar Fill',
'Germania+One'             : 'Germania One',
'GFS+Didot'                : 'GFS Didot',
'GFS+Neohellenic'          : 'GFS Neohellenic',
'Give+You+Glory'           : 'Give You Glory',
'Glass+Antiqua'            : 'Glass Antiqua',
'Glegoo'                   : 'Glegoo',
'Gloria+Hallelujah'        : 'Gloria Hallelujah',
'Goblin+One'               : 'Goblin One',
'Gochi+Hand'               : 'Gochi Hand',
'Gorditas'                 : 'Gorditas',
'Goudy+Bookletter+1911'    : 'Goudy Bookletter 1911',
'Graduate'                 : 'Graduate',
'Gravitas+One'             : 'Gravitas One',
'Great Vibes'              : 'Great Vibes',
'Gruppo'                   : 'Gruppo',
'Gudea'                    : 'Gudea',
'Habibi'                   : 'Habibi',
'Hammersmith+One'          : 'Hammersmith One',
'Handlee'                  : 'Handlee',
'Hanuman'                  : 'Hanuman',
'Happy+Monkey'             : 'Happy Monkey',
'Henny+Penny'              : 'Henny Penny',
'Herr+Von+Muellerhoff'     : 'Herr Von Muellerhoff',
'Holtwood+One+SC'          : 'Holtwood One SC',
'Homemade+Apple'           : 'Homemade Apple',    
'Homenaje'                 : 'Homenaje',
'Iceberg'                  : 'Iceberg',
'Iceland'                  : 'Iceland',
'IM+Fell+Double+Pica'      : 'IM Fell Double Pica',
'IM+Fell+Double+Pica+SC'   : 'IM Fell Double Pica SC',
'IM+Fell+DW+Pica'          : 'IM Fell DW Pica',    
'IM+Fell+DW+Pica+SC'       : 'IM Fell DW Pica SC',
'IM+Fell+English'          : 'IM Fell English',
'IM+Fell+English+SC'       : 'IM Fell English SC',
'IM+Fell+French+Canon'     : 'IM Fell French Canon',
'IM+Fell+French+Canon+SC'  : 'IM Fell French Canon SC',
'IM+Fell+Great+Primer'     : 'IM Fell Great Primer',
'IM+Fell+Great+Primer+SC'  : 'IM Fell Great Primer SC',
'Imprima'                  : 'Imprima',
'Inconsolata'              : 'Inconsolata',
'Inder'                    : 'Inder',
'Indie+Flower'             : 'Indie Flower',
'Inika'                    : 'Inika',
'Irish+Grover'             : 'Irish Grover',
'Istok+Web'                : 'Istok Web',
'Italiana'                 : 'Italiana',
'Italianno'                : 'Italianno',
'Jim+Nightshade'           : 'Jim Nightshade',
'Jockey+One'               : 'Jockey One',
'Jolly Lodger'             : 'Jolly Lodger',
'Josefin+Sans'             : 'Josefin Sans',
'Josefin+Slab'             : 'Josefin Slab',
'Judson'                   : 'Judson',
'Julee'                    : 'Julee',
'Junge'                    : 'Junge',
'Jura'                     : 'Jura',
'Just+Another+Hand'        : 'Just Another Hand',
'Just+Me+Again+Down+Here'  : 'Just Me Again Down Here',
'Kameron'                  : 'Kameron',
'Karla'                    : 'Karla',
'Kaushan+Script'           : 'Kaushan Script',
'Kelly+Slab'               : 'Kelly Slab',
'Kenia'                    : 'Kenia',
'Khmer'                    : 'Khmer',
'Knewave'                  : 'Knewave',
'Kotta+One'                : 'Kotta One',
'Koulen'                   : 'Koulen',
'Kranky'                   : 'Kranky',
'Kreon'                    : 'Kreon',
'Kristi'                   : 'Kristi',
'Krona+One'                : 'Krona One',
'La+Belle+Aurore'          : 'La Belle Aurore',
'Lancelot'                 : 'Lancelot',
'Lato'                     : 'Lato',
'League+Script'            : 'League Script',
'Leckerli+One'             : 'Leckerli One',
'Ledger'                   : 'Ledger',
'Lekton'                   : 'Lekton',
'Lemon'                    : 'Lemon',
'Lilita+One'               : 'Lilita One',
'Limelight'                : 'Limelight',
'Linden+Hill'              : 'Linden Hill',
'Lobster'                  : 'Lobster',
'Lobster+Two'              : 'Lobster Two',
'Londrina+Outline'         : 'Londrina Outline',
'Londrina+Shadow'          : 'Londrina Shadow',
'Londrina+Sketch'          : 'Londrina Sketch',
'Londrina+Solid'           : 'Londrina Solid',
'Lora'                     : 'Lora',
'Love+Ya+Like+A+Sister'    : 'Love Ya Like A Sister',
'Loved+By+The+King'        : 'Loved by the King',
'Lovers+Quarrel'           : 'Lovers Quarrel',
'Luckiest+Guy'             : 'Luckiest Guy',
'Lusitana'                 : 'Lusitana',
'Lustria'                  : 'Lustria',
'Macondo'                  : 'Macondo',
'Macondo+Swash+Caps'       : 'Macondo Swash Caps',
'Magra'                    : 'Magra',
'Maiden+Orange'            : 'Maiden Orange',
'Mako'                     : 'Mako',
'Marck+Script'             : 'Marck Script',
'Marko+One'                : 'Marko One',
'Marmelad'                 : 'Marmelad',
'Marvel'                   : 'Marvel',
'Mate'                     : 'Mate',
'Mate+SC'                  : 'Mate SC',
'Maven+Pro'                : 'Maven Pro',    
'Meddon'                   : 'Meddon',
'MedievalSharp'            : 'MedievalSharp',
'Medula+One'               : 'Medula One',
'Megrim'                   : 'Megrim',
'Merienda+One'             : 'Merienda One',
'Merriweather'             : 'Merriweather',
'Metal'                    : 'Metal',
'Metamorphous'             : 'Metamorphous',
'Metrophobic'              : 'Metrophobic',
'Michroma'                 : 'Michroma',
'Miltonian'                : 'Miltonian',
'Miltonian+Tattoo'         : 'Miltonian Tattoo',
'Miniver'                  : 'Miniver',
'Miss+Fajardose'           : 'Miss Fajardose',
'Modern+Antiqua'           : 'Modern Antiqua',
'Molengo'                  : 'Molengo',
'Monofett'                 : 'Monofett',
'Monoton'                  : 'Monoton',
'Monsieur+La+Doulaise'     : 'Monsieur La Doulaise',
'Montaga'                  : 'Montaga',
'Montez'                   : 'Montez',
'Montserrat'               : 'Montserrat',
'Moul'                     : 'Moul',
'Moulpali'                 : 'Moulpali',
'Mountains+of+Christmas'   : 'Mountains of Christmas',
'Mr+Bedfort'               : 'Mr Bedfort',
'Mr+Dafoe'                 : 'Mr Dafoe',
'Mr+De+Haviland'           : 'Mr De Haviland',
'Mrs+Saint+Delafield'      : 'Mrs Saint Delafield',
'Mrs+Sheppards'            : 'Mrs Sheppards',
'Muli'                     : 'Muli',
'Mystery+Quest'            : 'Mystery Quest',
'Neucha'                   : 'Neucha',
'Neuton'                   : 'Neuton',
'News+Cycle'               : 'News Cycle',
'Niconne'                  : 'Niconne',
'Nixie+One'                : 'Nixie One',
'Nobile'                   : 'Nobile',
'Nokora'                   : 'Nokora',
'Norican'                  : 'Norican',
'Nosifer'                  : 'Nosifer',
'Nothing+You+Could+Do'     : 'Nothing You Could Do',
'Noticia+Text'             : 'Noticia Text',
'Nova+Cut'                 : 'Nova Cut',
'Nova+Flat'                : 'Nova Flat',
'Nova+Mono'                : 'Nova Mono',
'Nova+Oval'                : 'Nova Oval',
'Nova+Round'               : 'Nova Round',
'Nova+Script'              : 'Nova Script',
'Nova+Slim'                : 'Nova Slim',
'Nova+Square'              : 'Nova Square',
'Numans'                   : 'Numans',
'Nunito'                   : 'Nunito',
'Odor+Mean+Chey'           : 'Odor Mean Chey',
'Old+Standard+TT'          : 'Old Standard TT',
'Oldenburg'                : 'Oldenburg',
'Oleo+Script'              : 'Oleo Script',
'Open+Sans'                : 'Open Sans',
'Open+Sans+Condensed'      : 'Open Sans Condensed',
'Orbitron'                 : 'Orbitron',
'Original+Surfer'          : 'Original Surfer',
'Oswald'                   : 'Oswald',
'Over+the+Rainbow'         : 'Over the Rainbow',
'Overlock'                 : 'Overlock',
'Overlock+SC'              : 'Overlock SC',
'Ovo'                      : 'Ovo',
'Oxygen'                   : 'Oxygen',
'Pacifico'                 : 'Pacifico',
'Parisienne'               : 'Parisienne',
'Passero+One'              : 'Passero One',
'Passion+One'              : 'Passion One',
'Patrick+Hand'             : 'Patrick Hand',
'Patua+One'                : 'Patua One',
'Paytone+One'              : 'Paytone One',
'Permanent+Marker'         : 'Permanent Marker',
'Petrona'                  : 'Petrona',
'Philosopher'              : 'Philosopher',
'Piedra'                   : 'Piedra',
'Pinyon+Script'            : 'Pinyon Script',
'Plaster'                  : 'Plaster',
'Play'                     : 'Play',
'Playball'                 : 'Playball',
'Playfair+Display'         : 'Playfair Display',
'Podkova'                  : 'Podkova',
'Poiret+One'               : 'Poiret One',
'Poller+One'               : 'Poller One',
'Poly'                     : 'Poly',
'Pompiere'                 : 'Pompiere',
'Pontano+Sans'             : 'Pontano Sans',
'Port+Lligat+Sans'         : 'Port Lligat Sans',
'Port+Lligat+Slab'         : 'Port Lligat Slab',
'Prata'                    : 'Prata',
'Preahvihear'              : 'Preahvihear',
'Press+Start+2P'           : 'Press Start 2P',
'Princess+Sofia'           : 'Princess Sofia',
'Prociono'                 : 'Prociono',
'Prosto+One'               : 'Prosto One',
'PT+Mono'                  : 'PT Mono',
'PT+Sans'                  : 'PT Sans',
'PT+Sans+Caption'          : 'PT Sans Caption',
'PT+Sans+Narrow'           : 'PT Sans Narrow',
'PT+Serif'                 : 'PT Serif',
'PT+Serif+Caption'         : 'PT Serif Caption',
'Puritan'                  : 'Puritan',
'Quantico'                 : 'Quantico',
'Quattrocento'             : 'Quattrocento',
'Quattrocento+Sans'        : 'Quattrocento Sans',
'Questrial'                : 'Questrial',
'Quicksand'                : 'Quicksand',
'Qwigley'                  : 'Qwigley',
'Radley'                   : 'Radley',
'Raleway'                  : 'Raleway',
'Rammetto+One'             : 'Rammetto One',
'Rancho'                   : 'Rancho',
'Rationale'                : 'Rationale',
'Redressed'                : 'Redressed',
'Reenie+Beanie'            : 'Reenie Beanie',
'Revalia'                  : 'Revalia',
'Ribeye'                   : 'Ribeye',
'Ribeye+Marrow'            : 'Ribeye Marrow',
'Righteous'                : 'Righteous',
'Rochester'                : 'Rochester',
'Rock+Salt'                : 'Rock Salt',
'Rokkitt'                  : 'Rokkitt',
'Ropa+Sans'                : 'Ropa Sans',
'Rosario'                  : 'Rosario',
'Rosarivo'                 : 'Rosarivo',
'Rouge+Script'             : 'Rouge Script',
'Ruda'                     : 'Ruda',
'Ruge+Boogie'              : 'Ruge Boogie',
'Ruluko'                   : 'Ruluko',
'Ruslan+Display'           : 'Ruslan Display',
'Russo+One'                : 'Russo One',
'Ruthie'                   : 'Ruthie',
'Sail'                     : 'Sail',
'Salsa'                    : 'Salsa',
'Sancreek'                 : 'Sancreek',
'Sansita+One'              : 'Sansita One',
'Sarina'                   : 'Sarina',
'Satisfy'                  : 'Satisfy',
'Schoolbell'               : 'Schoolbell',
'Seaweed+Script'           : 'Seaweed Script',
'Sevillana'                : 'Sevillana',
'Shadows+Into+Light'       : 'Shadows Into Light',
'Shadows+Into+Light+Two'   : 'Shadows Into Light Two',
'Shanti'                   : 'Shanti',
'Share'                    : 'Share',
'Shojumaru'                : 'Shojumaru',
'Short+Stack'              : 'Short Stack',
'Siemreap'                 : 'Siemreap',
'Sigmar+One'               : 'Sigmar One',
'Signika'                  : 'Signika',
'Signika+Negative'         : 'Signika Negative',
'Simonetta'                : 'Simonetta',
'Sirin+Stencil'            : 'Sirin Stencil',
'Six+Caps'                 : 'Six Caps',
'Slackey'                  : 'Slackey',
'Smokum'                   : 'Smokum',
'Smythe'                   : 'Smythe',
'Sniglet'                  : 'Sniglet',
'Snippet'                  : 'Snippet',
'Sofia'                    : 'Sofia',
'Sonsie+One'               : 'Sonsie One',
'Sorts+Mill+Goudy'         : 'Sorts Mill Goudy',
'Special+Elite'            : 'Special Elite',
'Spicy+Rice'               : 'Spicy Rice',
'Spinnaker'                : 'Spinnaker',
'Spirax'                   : 'Spirax',
'Squada+One'               : 'Squada One',
'Stardos+Stencil'          : 'Stardos Stencil',
'Stint+Ultra+Condensed'    : 'Stint Ultra Condensed',
'Stint+Ultra+Expanded'     : 'Stint Ultra Expanded',
'Stoke'                    : 'Stoke',
'Sue+Ellen+Francisco'      : 'Sue Ellen Francisco',
'Sunshiney'                : 'Sunshiney',
'Supermercado+One'         : 'Supermercado One',
'Suwannaphum'              : 'Suwannaphum',
'Swanky+And+Moo+Moo'       : 'Swanky and Moo Moo',
'Syncopate'                : 'Syncopate',
'Tangerine'                : 'Tangerine',
'Taprom'                   : 'Taprom',
'Telex'                    : 'Telex',
'Tenor+Sans'               : 'Tenor Sans',
'Terminal+Dosis'           : 'Terminal Dosis',
'The+Girl+Next+Door'       : 'The Girl Next Door',
'Tienne'                   : 'Tienne',
'Tinos'                    : 'Tinos',
'Titan+One'                : 'Titan One',
'Trade+Winds'              : 'Trade Winds',
'Trocchi'                  : 'Trocchi',
'Trochut'                  : 'Trochut',
'Trykker'                  : 'Trykker',
'Tulpen+One'               : 'Tulpen One',
'Ubuntu'                   : 'Ubuntu',
'Ubuntu+Condensed'         : 'Ubuntu Condensed',
'Ubuntu+Mono'              : 'Ubuntu Mono',
'Ultra'                    : 'Ultra',
'Uncial+Antiqua'           : 'Uncial Antiqua',
'UnifrakturCook'           : 'UnifrakturCook',
'UnifrakturMaguntia'       : 'UnifrakturMaguntia',
'Unkempt'                  : 'Unkempt',
'Unlock'                   : 'Unlock',
'Unna'                     : 'Unna',
'Varela'                   : 'Varela',
'Varela+Round'             : 'Varela Round',
'Vast+Shadow'              : 'Vast Shadow',
'Vibur'                    : 'Vibur',
'Vidaloka'                 : 'Vidaloka',
'Viga'                     : 'Viga',
'Voces'                    : 'Voces',
'Volkhov'                  : 'Volkhov',
'Vollkorn'                 : 'Vollkorn',
'Voltaire'                 : 'Voltaire',
'VT323'                    : 'VT323',
'Waiting+for+the+Sunrise'  : 'Waiting for the Sunrise',
'Wallpoet'                 : 'Wallpoet',
'Walter+Turncoat'          : 'Walter Turncoat',
'Wellfleet'                : 'Wellfleet',
'Wire+One'                 : 'Wire One',
'Yanone+Kaffeesatz'        : 'Yanone Kaffeesatz',
'Yellowtail'               : 'Yellowtail',
'Yeseva+One'               : 'Yeseva One',
'Yesteryear'               : 'Yesteryear',
'Zeyada'                   : 'Zeyada',
}%}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
		  <button type="submit" form="form-part" id="save_stay" name="save_stay" value="1" class="btn btn-success"><i class="fa fa-check"></i> Save and stay</button>
            <button type="submit" form="form-part" data-toggle="tooltip" title="Save" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title1 }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> Success
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="panel panel-default">
         <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-part" class="form-horizontal">
            <div class="panel panel-default">
            <div class="panel-body">
               <div class="tab-content">
                  <div class="col-sm-2">
                     <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Header</a></li>
                  <li><a href="#tab_2" data-toggle="tab">Aditional</a></li>
               </ul>
                </div>
                  <div class="col-sm-10">
                     <div class="tab-content">
                  <div id="tab_1" class="tab-pane active">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Sticky header</label>
                                    <div class="col-sm-10">
                                       <div class="btn-group" data-toggle="buttons">
                                          <label class="btn btn-success   {{ part_sticky_header == 1 ? 'active' : '' }}"><input type="radio"  name="part_sticky_header"  {{ part_sticky_header == 1 ? 'checked="checked"' : '' }}  value="1" autocomplete="off">Yes</label>
                                          <label class="btn btn-success   {{ part_sticky_header == 0 ? 'active' : '' }}"><input type="radio"  name="part_sticky_header"  {{ part_sticky_header == 0 ? 'checked="checked"' : '' }}  value="0" autocomplete="off">No</label>
                                       </div>
                                    </div>
                                 </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Custom links in menu</label>
                                    {% set url_row = 0 %}
                                    <div class="col-sm-10">
                                       <div id="menu-url">
                                          {% for url in part_url %}
                                          <div id="url-row{{ url_row }}" class="form-group">
                                             <div class="col-sm-5">
                                                {% for language in languages %}
                                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> Text</span>
                                                   <input type="text" name="part_url[{{ url_row }}][name][{{ language.language_id }}]" value="{{ part_url[url_row] ? part_url[url_row].name[language.language_id] }}" placeholder="{{ entry_name }}" class="form-control" />
                                                </div>
                                                {% endfor %}
                                             </div>
                                             <div class="col-sm-5">
                                                {% for language in languages %}
                                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> Link</span>
                                                   <input type="text" name="part_url[{{ url_row }}][url][{{ language.language_id }}]" value="{{ part_url[url_row] ? part_url[url_row].url[language.language_id] : '' }}" placeholder="{{ entry_url }}" class="form-control" />
                                                </div>
                                                {% endfor %}
                                             </div>
                                             <div class="col-sm-2">
                                                <div class="text-left"><button type="button" onclick="$('#url-row{{ url_row }}').remove();" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></div>
                                             </div>
                                             {% if error_part_url.url_row %}
                                             <div class="col-sm-10">
                                                <div class="text-danger">{{ error_empty }}</div>
                                             </div>
                                             {% endif %}
                                          </div>
                                          {% set url_row = url_row + 1 %}
                                          {% endfor %}
                                       </div>
                                       <button type="button" onclick="addUrlMenu();" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Topbanner show</label>
                                    <div class="col-sm-10">
                                       <div class="btn-group" data-toggle="buttons">
                                          <label class="btn btn-success   {{ part_topbanner_show == 1 ? 'active' : '' }}"><input type="radio"  name="part_topbanner_show"  {{ part_topbanner_show == 1 ? 'checked="checked"' : '' }}  value="1" autocomplete="off">Yes</label>
                                          <label class="btn btn-success   {{ part_topbanner_show == 0 ? 'active' : '' }}"><input type="radio"  name="part_topbanner_show"  {{ part_topbanner_show == 0 ? 'checked="checked"' : '' }}  value="0" autocomplete="off">No</label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                    <a href="" id="part_topbanner_img" data-toggle="image" class="img-thumbnail"><img src="{{ part_topbanner_img_preview }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                    <input type="hidden" name="part_topbanner_img" value="{{ part_topbanner_img }}" id="part_topbanner_img-input-image" /></label>              
                                    <div class="col-sm-9">
                                       {% for language in languages %} 
                                       <div class="input-group"><span class="input-group-addon"> <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                          <input class="form-control" type="text" name="part_topbanner_link[{{ language['language_id'] }}]" value="{{ part_topbanner_link[language['language_id']] is defined ? part_topbanner_link[language['language_id']] : '' }}" />
                                       </div>
                                       {% endfor %} 
                                    </div>
                                 </div>
                              </div>
 <div id="tab_2" class="tab-pane">
				  <div class="form-group">
                                    <label class="col-sm-2 control-label">Fonts:</label>
                                    <div class="col-sm-6">
                                       <select class="form-control " name="part_font">
                                       {% for slug, item in fonts %}
                                       <option value="{{ slug }}" {% if part_font == slug %}selected="selected"{% endif %}>{{ item }}</option>
                                       {% endfor %}
                                       </select>    
                                    </div>
                                 </div>
						         <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-part_color_main">Main color:</label>
                                    <div class="col-sm-6">
                                       <input type="text" name="part_color_main" value="{{ part_color_main }}" placeholder="main color" id="part_color_main" class="form-control" data-jscolor=""/>
                                    </div>
                                 </div>
								 <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-part_color_main">Main color2:</label>
                                    <div class="col-sm-6">
                                       <input type="text" name="part_color_main2" value="{{ part_color_main2 }}" placeholder="main color" id="part_color_main2" class="form-control" data-jscolor=""/>
                                    </div>
                                 </div>
								  <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-part_color_main">Main color3:</label>
                                    <div class="col-sm-6">
                                       <input type="text" name="part_color_main3" value="{{ part_color_main3 }}" placeholder="main color" id="part_color_main3" class="form-control" data-jscolor=""/>
                                    </div>
                                 </div>
								<div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-part_text_color">Text color:</label>
                                    <div class="col-sm-6">
                                       <input type="text" name="part_text_color" value="{{ part_text_color }}" placeholder="text color" id="part_text_color" class="form-control" data-jscolor="" />
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-part_text_color2">Text second color:</label>
                                    <div class="col-sm-6">
                                       <input type="text" name="part_text_color2" value="{{ part_text_color2 }}" placeholder="text color" id="part_text_color2" class="form-control" data-jscolor=""/>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Custom CSS</label>
                                    <div class="col-sm-10">
                                       <textarea name="part_custom_css" id="input-part" placeholder="css" class="form-control code">{{ part_custom_css is defined ? part_custom_css : '' }}</textarea>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Custom JS</label>
                                    <div class="col-sm-10">
                                       <textarea name="part_custom_js" id="input-part2" placeholder="js" class="form-control code">{{ part_custom_js is defined ? part_custom_js : '' }}</textarea>
                                    </div>
                                 </div>
                              </div>
               </div>
			   </div>
			   </div>
			   </div>
			   </div>
            </form>
         </div>
      </div>
   </div>
</div>
{{ footer }}
<script type="text/javascript"><!--   
   var url_row= {{ url_row }};
   
   function addUrlMenu() {
   	html  = '<div id="url-row' + url_row+ '" class="form-group">';	
       html += '  <div class="col-sm-5">';
   	{% for language in languages %}
   	html += '    <div class="input-group">';
   	html += '      <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> Text</span><input type="text" name="part_url[' + url_row+ '][name][{{ language['language_id'] }}]" value="" placeholder="{{ entry_name }}" class="form-control" />';
       html += '    </div>';
   	{% endfor %}
   	html += '  </div>';
   	html += '  <div class="col-sm-5">';
   	{% for language in languages %}
   	html += '    <div class="input-group">';
   	html += '      <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> Link</span><input type="text" name="part_url[' + url_row+ '][url][{{ language['language_id'] }}]" value="" placeholder="{{ entry_url }}" class="form-control" />';
       html += '    </div>';
   	{% endfor %}
   	html += '  </div>';
       html += '  <div class="col-sm-2">';
   	html += '  <td class="text-left"><button type="button" onclick="$(\'#url-row' + url_row+ '\').remove();" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
   	html += '  </div>';	
   	html += '</div>';
   	$('#menu-url').append(html);
   	
   	url_row++;
   }
</script>
<script type="text/javascript">
   !function(e,t){"use strict";"object"!=typeof module||"object"!=typeof module.exports?t(e):module.exports=e.document?t(e):function(e){if(!e.document)throw new Error("jscolor needs a window with document");return t(e)}}("undefined"!=typeof window?window:this,function(e){"use strict";var t,r,n,o=((n={initialized:!1,instances:[],readyQueue:[],register:function(){void 0!==e&&e.document&&e.document.addEventListener("DOMContentLoaded",n.pub.init,!1)},installBySelector:function(t,r){if(!(r=r?n.node(r):e.document))throw new Error("Missing root node");for(var o=r.querySelectorAll(t),i=new RegExp("(^|\\s)("+n.pub.lookupClass+")(\\s*(\\{[^}]*\\})|\\s|$)","i"),a=0;a<o.length;a+=1){var s,l;if(!(o[a].jscolor&&o[a].jscolor instanceof n.pub))if(void 0===o[a].type||"color"!=o[a].type.toLowerCase()||!n.isColorAttrSupported)if(null!==(s=n.getDataAttr(o[a],"jscolor"))||o[a].className&&(l=o[a].className.match(i))){var h=o[a],d="";null!==s?d=s:l&&(console.warn('Installation using class name is DEPRECATED. Use data-jscolor="" attribute instead.'+n.docsRef),l[4]&&(d=l[4]));var p=null;if(d.trim())try{p=n.parseOptionsStr(d)}catch(e){console.warn(e+"\n"+d)}try{new n.pub(h,p)}catch(e){console.warn(e)}}}},parseOptionsStr:function(e){var t=null;try{t=JSON.parse(e)}catch(r){if(!n.pub.looseJSON)throw new Error("Could not parse jscolor options as JSON: "+r);try{t=new Function("var opts = ("+e+'); return typeof opts === "object" ? opts : {};')()}catch(e){throw new Error("Could not evaluate jscolor options: "+e)}}return t},getInstances:function(){for(var e=[],t=0;t<n.instances.length;t+=1)n.instances[t]&&n.instances[t].targetElement&&e.push(n.instances[t]);return e},createEl:function(t){var r=e.document.createElement(t);return n.setData(r,"gui",!0),r},node:function(t){if(!t)return null;if("string"==typeof t){var r=t,o=null;try{o=e.document.querySelector(r)}catch(e){return console.warn(e),null}return o||console.warn("No element matches the selector: %s",r),o}return n.isNode(t)?t:(console.warn("Invalid node of type %s: %s",typeof t,t),null)},isNode:function(e){return"object"==typeof Node?e instanceof Node:e&&"object"==typeof e&&"number"==typeof e.nodeType&&"string"==typeof e.nodeName},nodeName:function(e){return!(!e||!e.nodeName)&&e.nodeName.toLowerCase()},removeChildren:function(e){for(;e.firstChild;)e.removeChild(e.firstChild)},isTextInput:function(e){return e&&"input"===n.nodeName(e)&&"text"===e.type.toLowerCase()},isButton:function(e){if(!e)return!1;var t=n.nodeName(e);return"button"===t||"input"===t&&["button","submit","reset"].indexOf(e.type.toLowerCase())>-1},isButtonEmpty:function(e){switch(n.nodeName(e)){case"input":return!e.value||""===e.value.trim();case"button":return""===e.textContent.trim()}return null},isPassiveEventSupported:function(){var t=!1;try{var r=Object.defineProperty({},"passive",{get:function(){t=!0}});e.addEventListener("testPassive",null,r),e.removeEventListener("testPassive",null,r)}catch(e){}return t}(),isColorAttrSupported:(r=e.document.createElement("input"),!(!r.setAttribute||(r.setAttribute("type","color"),"color"!=r.type.toLowerCase()))),dataProp:"_data_jscolor",setData:function(){var e=arguments[0];if(3===arguments.length){var t=e.hasOwnProperty(n.dataProp)?e[n.dataProp]:e[n.dataProp]={},r=arguments[1],o=arguments[2];return t[r]=o,!0}if(2===arguments.length&&"object"==typeof arguments[1]){t=e.hasOwnProperty(n.dataProp)?e[n.dataProp]:e[n.dataProp]={};var i=arguments[1];for(var r in i)i.hasOwnProperty(r)&&(t[r]=i[r]);return!0}throw new Error("Invalid arguments")},removeData:function(){var e=arguments[0];if(!e.hasOwnProperty(n.dataProp))return!0;for(var t=1;t<arguments.length;t+=1){var r=arguments[t];delete e[n.dataProp][r]}return!0},getData:function(e,t,r){if(!e.hasOwnProperty(n.dataProp)){if(void 0===r)return;e[n.dataProp]={}}var o=e[n.dataProp];return o.hasOwnProperty(t)||void 0===r||(o[t]=r),o[t]},getDataAttr:function(e,t){var r="data-"+t;return e.getAttribute(r)},setDataAttr:function(e,t,r){var n="data-"+t;e.setAttribute(n,r)},_attachedGroupEvents:{},attachGroupEvent:function(e,t,r,o){n._attachedGroupEvents.hasOwnProperty(e)||(n._attachedGroupEvents[e]=[]),n._attachedGroupEvents[e].push([t,r,o]),t.addEventListener(r,o,!1)},detachGroupEvents:function(e){if(n._attachedGroupEvents.hasOwnProperty(e)){for(var t=0;t<n._attachedGroupEvents[e].length;t+=1){var r=n._attachedGroupEvents[e][t];r[0].removeEventListener(r[1],r[2],!1)}delete n._attachedGroupEvents[e]}},preventDefault:function(e){e.preventDefault&&e.preventDefault(),e.returnValue=!1},triggerEvent:function(t,r,o,i){if(t){var a=null;return"function"==typeof Event?a=new Event(r,{bubbles:o,cancelable:i}):(a=e.document.createEvent("Event")).initEvent(r,o,i),a?(n.setData(a,"internal",!0),t.dispatchEvent(a),!0):!1}},triggerInputEvent:function(e,t,r,o){e&&n.isTextInput(e)&&n.triggerEvent(e,t,r,o)},eventKey:function(e){var t={9:"Tab",13:"Enter",27:"Escape"};return"string"==typeof e.code?e.code:void 0!==e.keyCode&&t.hasOwnProperty(e.keyCode)?t[e.keyCode]:null},strList:function(e){return e?e.replace(/^\s+|\s+$/g,"").split(/\s+/):[]},hasClass:function(e,t){return!!t&&(void 0!==e.classList?e.classList.contains(t):-1!=(" "+e.className.replace(/\s+/g," ")+" ").indexOf(" "+t+" "))},addClass:function(e,t){var r=n.strList(t);if(void 0===e.classList)for(o=0;o<r.length;o+=1)n.hasClass(e,r[o])||(e.className+=(e.className?" ":"")+r[o]);else for(var o=0;o<r.length;o+=1)e.classList.add(r[o])},removeClass:function(e,t){var r=n.strList(t);if(void 0===e.classList)for(i=0;i<r.length;i+=1){var o=new RegExp("^\\s*"+r[i]+"\\s*|\\s*"+r[i]+"\\s*$|\\s+"+r[i]+"(\\s+)","g");e.className=e.className.replace(o,"$1")}else for(var i=0;i<r.length;i+=1)e.classList.remove(r[i])},getCompStyle:function(t){var r=e.getComputedStyle?e.getComputedStyle(t):t.currentStyle;return r||{}},setStyle:function(e,t,r,o){var i=r?"important":"",a=null;for(var s in t)if(t.hasOwnProperty(s)){var l=null;null===t[s]?(a||(a=n.getData(e,"origStyle")),a&&a.hasOwnProperty(s)&&(l=a[s])):(o&&(a||(a=n.getData(e,"origStyle",{})),a.hasOwnProperty(s)||(a[s]=e.style[s])),l=t[s]),null!==l&&e.style.setProperty(s,l,i)}},appendCss:function(e){var t=document.querySelector("head"),r=document.createElement("style");r.innerText=e,t.appendChild(r)},appendDefaultCss:function(e){n.appendCss([".jscolor-wrap, .jscolor-wrap div, .jscolor-wrap canvas { position:static; display:block; visibility:visible; overflow:visible; margin:0; padding:0; border:none; border-radius:0; outline:none; z-index:auto; float:none; width:auto; height:auto; left:auto; right:auto; top:auto; bottom:auto; min-width:0; min-height:0; max-width:none; max-height:none; background:none; clip:auto; opacity:1; transform:none; box-shadow:none; box-sizing:content-box; }",".jscolor-wrap { clear:both; }",".jscolor-wrap .jscolor-picker { position:relative; }",".jscolor-wrap .jscolor-shadow { position:absolute; left:0; top:0; width:100%; height:100%; }",".jscolor-wrap .jscolor-border { position:relative; }",".jscolor-wrap .jscolor-palette { position:absolute; }",".jscolor-wrap .jscolor-palette-sw { position:absolute; display:block; cursor:pointer; }",".jscolor-wrap .jscolor-btn { position:absolute; overflow:hidden; white-space:nowrap; font:13px sans-serif; text-align:center; cursor:pointer; }"].join("\n"))},hexColor:function(e,t,r){return"#"+(("0"+Math.round(e).toString(16)).slice(-2)+("0"+Math.round(t).toString(16)).slice(-2)+("0"+Math.round(r).toString(16)).slice(-2)).toUpperCase()},hexaColor:function(e,t,r,n){return"#"+(("0"+Math.round(e).toString(16)).slice(-2)+("0"+Math.round(t).toString(16)).slice(-2)+("0"+Math.round(r).toString(16)).slice(-2)+("0"+Math.round(255*n).toString(16)).slice(-2)).toUpperCase()},rgbColor:function(e,t,r){return"rgb("+Math.round(e)+","+Math.round(t)+","+Math.round(r)+")"},rgbaColor:function(e,t,r,n){return"rgba("+Math.round(e)+","+Math.round(t)+","+Math.round(r)+","+Math.round(100*(null==n?1:n))/100+")"},linearGradient:function(){var t=function(){for(var t=["","-webkit-","-moz-","-o-","-ms-"],r=e.document.createElement("div"),n=0;n<t.length;n+=1){var o=t[n]+"linear-gradient",i=o+"(to right, rgba(0,0,0,0), rgba(0,0,0,0))";if(r.style.background=i,r.style.background)return o}return"linear-gradient"}();return function(){return t+"("+Array.prototype.join.call(arguments,", ")+")"}}(),setBorderRadius:function(e,t){n.setStyle(e,{"border-radius":t||"0"})},setBoxShadow:function(e,t){n.setStyle(e,{"box-shadow":t||"none"})},getElementPos:function(e,t){var r=0,o=0,i=e.getBoundingClientRect();if(r=i.left,o=i.top,!t){var a=n.getViewPos();r+=a[0],o+=a[1]}return[r,o]},getElementSize:function(e){return[e.offsetWidth,e.offsetHeight]},getAbsPointerPos:function(e){var t=0,r=0;return void 0!==e.changedTouches&&e.changedTouches.length?(t=e.changedTouches[0].clientX,r=e.changedTouches[0].clientY):"number"==typeof e.clientX&&(t=e.clientX,r=e.clientY),{x:t,y:r}},getRelPointerPos:function(e){var t=(e.target||e.srcElement).getBoundingClientRect(),r=0,n=0;return void 0!==e.changedTouches&&e.changedTouches.length?(r=e.changedTouches[0].clientX,n=e.changedTouches[0].clientY):"number"==typeof e.clientX&&(r=e.clientX,n=e.clientY),{x:r-t.left,y:n-t.top}},getViewPos:function(){var t=e.document.documentElement;return[(e.pageXOffset||t.scrollLeft)-(t.clientLeft||0),(e.pageYOffset||t.scrollTop)-(t.clientTop||0)]},getViewSize:function(){var t=e.document.documentElement;return[e.innerWidth||t.clientWidth,e.innerHeight||t.clientHeight]},RGB_HSV:function(e,t,r){e/=255,t/=255,r/=255;var n=Math.min(Math.min(e,t),r),o=Math.max(Math.max(e,t),r),i=o-n;if(0===i)return[null,0,100*o];var a=e===n?3+(r-t)/i:t===n?5+(e-r)/i:1+(t-e)/i;return[60*(6===a?0:a),i/o*100,100*o]},HSV_RGB:function(e,t,r){var n=r/100*255;if(null===e)return[n,n,n];e/=60,t/=100;var o=Math.floor(e),i=n*(1-t),a=n*(1-t*(o%2?e-o:1-(e-o)));switch(o){case 6:case 0:return[n,a,i];case 1:return[a,n,i];case 2:return[i,n,a];case 3:return[i,a,n];case 4:return[a,i,n];case 5:return[n,i,a]}},parseColorString:function(e){var t,r={rgba:null,format:null};if(t=e.match(/^\W*([0-9A-F]{3,8})\W*$/i)){if(8===t[1].length)r.format="hexa",r.rgba=[parseInt(t[1].slice(0,2),16),parseInt(t[1].slice(2,4),16),parseInt(t[1].slice(4,6),16),parseInt(t[1].slice(6,8),16)/255];else if(6===t[1].length)r.format="hex",r.rgba=[parseInt(t[1].slice(0,2),16),parseInt(t[1].slice(2,4),16),parseInt(t[1].slice(4,6),16),null];else{if(3!==t[1].length)return!1;r.format="hex",r.rgba=[parseInt(t[1].charAt(0)+t[1].charAt(0),16),parseInt(t[1].charAt(1)+t[1].charAt(1),16),parseInt(t[1].charAt(2)+t[1].charAt(2),16),null]}return r}if(t=e.match(/^\W*rgba?\(([^)]*)\)\W*$/i)){var n,o,i,a,s=t[1].split(","),l=/^\s*(\d+|\d*\.\d+|\d+\.\d*)\s*$/;if(s.length>=3&&(n=s[0].match(l))&&(o=s[1].match(l))&&(i=s[2].match(l)))return r.format="rgb",r.rgba=[parseFloat(n[1])||0,parseFloat(o[1])||0,parseFloat(i[1])||0,null],s.length>=4&&(a=s[3].match(l))&&(r.format="rgba",r.rgba[3]=parseFloat(a[1])||0),r}return!1},parsePaletteValue:function(e){var t=[];"string"==typeof e?e.replace(/#[0-9A-F]{3}\b|#[0-9A-F]{6}([0-9A-F]{2})?\b|rgba?\(([^)]*)\)/gi,function(e){t.push(e)}):Array.isArray(e)&&(t=e);for(var r=[],o=0;o<t.length;o++){var i=n.parseColorString(t[o]);i&&r.push(i)}return r},containsTranparentColor:function(e){for(var t=0;t<e.length;t++){var r=e[t].rgba[3];if(null!==r&&r<1)return!0}return!1},isAlphaFormat:function(e){switch(e.toLowerCase()){case"hexa":case"rgba":return!0}return!1},scaleCanvasForHighDPR:function(t){var r=e.devicePixelRatio||1;t.width*=r,t.height*=r,t.getContext("2d").scale(r,r)},genColorPreviewCanvas:function(e,t,r,o){var i=Math.round(n.pub.previewSeparator.length),a=n.pub.chessboardSize,s=n.pub.chessboardColor1,l=n.pub.chessboardColor2,h=r||2*a,d=2*a,p=n.createEl("canvas"),c=p.getContext("2d");p.width=h,p.height=d,o&&n.scaleCanvasForHighDPR(p),c.fillStyle=s,c.fillRect(0,0,h,d),c.fillStyle=l;for(var u=0;u<h;u+=2*a)c.fillRect(u,0,a,a),c.fillRect(u+a,a,a,a);e&&(c.fillStyle=e,c.fillRect(0,0,h,d));var g=null;switch(t){case"left":g=0,c.clearRect(0,0,i/2,d);break;case"right":g=h-i,c.clearRect(h-i/2,0,i/2,d)}if(null!==g){c.lineWidth=1;for(var f=0;f<n.pub.previewSeparator.length;f+=1)c.beginPath(),c.strokeStyle=n.pub.previewSeparator[f],c.moveTo(.5+g+f,0),c.lineTo(.5+g+f,d),c.stroke()}return{canvas:p,width:h,height:d}},genColorPreviewGradient:function(e,t,r){var o=[];return o=t&&r?["to "+{left:"right",right:"left"}[t],e+" 0%",e+" "+r+"px","rgba(0,0,0,0) "+(r+1)+"px","rgba(0,0,0,0) 100%"]:["to right",e+" 0%",e+" 100%"],n.linearGradient.apply(this,o)},redrawPosition:function(){if(n.picker&&n.picker.owner){var t=n.picker.owner;if(t.container!==e.document.body)n._drawPosition(t,0,0,"relative",!1);else{var r,o;t.fixed?(r=n.getElementPos(t.targetElement,!0),o=[0,0]):(r=n.getElementPos(t.targetElement),o=n.getViewPos());var i,a,s,l=n.getElementSize(t.targetElement),h=n.getViewSize(),d=n.getPickerDims(t),p=[d.borderW,d.borderH];switch(t.position.toLowerCase()){case"left":i=1,a=0,s=-1;break;case"right":i=1,a=0,s=1;break;case"top":i=0,a=1,s=-1;break;default:i=0,a=1,s=1}var c=(l[a]+p[a])/2;if(t.smartPosition)u=[-o[i]+r[i]+p[i]>h[i]&&-o[i]+r[i]+l[i]/2>h[i]/2&&r[i]+l[i]-p[i]>=0?r[i]+l[i]-p[i]:r[i],-o[a]+r[a]+l[a]+p[a]-c+c*s>h[a]?-o[a]+r[a]+l[a]/2>h[a]/2&&r[a]+l[a]-c-c*s>=0?r[a]+l[a]-c-c*s:r[a]+l[a]-c+c*s:r[a]+l[a]-c+c*s>=0?r[a]+l[a]-c+c*s:r[a]+l[a]-c-c*s];else var u=[r[i],r[a]+l[a]-c+c*s];var g=u[i],f=u[a],v=t.fixed?"fixed":"absolute",m=(u[0]+p[0]>r[0]||u[0]<r[0]+l[0])&&u[1]+p[1]<r[1]+l[1];n._drawPosition(t,g,f,v,m)}}},_drawPosition:function(e,t,r,o,i){var a=i?0:e.shadowBlur;n.picker.wrap.style.position=o,Math.round(parseFloat(n.picker.wrap.style.left))===Math.round(t)&&Math.round(parseFloat(n.picker.wrap.style.top))===Math.round(r)||(n.picker.wrap.style.left=t+"px",n.picker.wrap.style.top=r+"px"),n.setBoxShadow(n.picker.boxS,e.shadow?new n.BoxShadow(0,a,e.shadowBlur,0,e.shadowColor):null)},getPickerDims:function(e){var t=2*e.controlBorderWidth+e.width,r=2*e.controlBorderWidth+e.height,o=2*e.controlBorderWidth+2*n.getControlPadding(e)+e.sliderSize;n.getSliderChannel(e)&&(t+=o),e.hasAlphaChannel()&&(t+=o);var i=n.getPaletteDims(e,t);i.height&&(r+=i.height+e.padding),e.closeButton&&(r+=2*e.controlBorderWidth+e.padding+e.buttonHeight);var a=t+2*e.padding,s=r+2*e.padding;return{contentW:t,contentH:r,paddedW:a,paddedH:s,borderW:a+2*e.borderWidth,borderH:s+2*e.borderWidth,palette:i}},getPaletteDims:function(e,t){var r=0,n=0,o=0,i=0,a=0,s=e._palette?e._palette.length:0;return s&&(n=(r=e.paletteCols)>0?Math.ceil(s/r):0,o=Math.max(1,Math.floor((t-(r-1)*e.paletteSpacing)/r)),i=e.paletteHeight?Math.min(e.paletteHeight,o):o),n&&(a=n*i+(n-1)*e.paletteSpacing),{cols:r,rows:n,cellW:o,cellH:i,width:t,height:a}},getControlPadding:function(e){return Math.max(e.padding/2,2*e.pointerBorderWidth+e.pointerThickness-e.controlBorderWidth)},getPadYChannel:function(e){switch(e.mode.charAt(1).toLowerCase()){case"v":return"v"}return"s"},getSliderChannel:function(e){if(e.mode.length>2)switch(e.mode.charAt(2).toLowerCase()){case"s":return"s";case"v":return"v"}return null},triggerCallback:function(e,t){if(e[t]){var r=null;if("string"==typeof e[t])try{r=new Function(e[t])}catch(e){console.error(e)}else r=e[t];r&&r.call(e)}},triggerGlobal:function(e){for(var t=n.getInstances(),r=0;r<t.length;r+=1)t[r].trigger(e)},_pointerMoveEvent:{mouse:"mousemove",touch:"touchmove"},_pointerEndEvent:{mouse:"mouseup",touch:"touchend"},_pointerOrigin:null,onDocumentKeyUp:function(e){-1!==["Tab","Escape"].indexOf(n.eventKey(e))&&n.picker&&n.picker.owner&&n.picker.owner.tryHide()},onWindowResize:function(e){n.redrawPosition()},onWindowScroll:function(e){n.redrawPosition()},onParentScroll:function(e){n.picker&&n.picker.owner&&n.picker.owner.tryHide()},onDocumentMouseDown:function(e){var t=e.target||e.srcElement;if(t.jscolor&&t.jscolor instanceof n.pub)t.jscolor.showOnClick&&!t.disabled&&t.jscolor.show();else if(n.getData(t,"gui")){n.getData(t,"control")&&n.onControlPointerStart(e,t,n.getData(t,"control"),"mouse")}else n.picker&&n.picker.owner&&n.picker.owner.tryHide()},onPickerTouchStart:function(e){var t=e.target||e.srcElement;n.getData(t,"control")&&n.onControlPointerStart(e,t,n.getData(t,"control"),"touch")},onControlPointerStart:function(t,r,o,i){var a=n.getData(r,"instance");n.preventDefault(t);var s=function(e,a){n.attachGroupEvent("drag",e,n._pointerMoveEvent[i],n.onDocumentPointerMove(t,r,o,i,a)),n.attachGroupEvent("drag",e,n._pointerEndEvent[i],n.onDocumentPointerEnd(t,r,o,i))};if(s(e.document,[0,0]),e.parent&&e.frameElement){var l=e.frameElement.getBoundingClientRect(),h=[-l.left,-l.top];s(e.parent.window.document,h)}var d=n.getAbsPointerPos(t),p=n.getRelPointerPos(t);switch(n._pointerOrigin={x:d.x-p.x,y:d.y-p.y},o){case"pad":"v"===n.getSliderChannel(a)&&0===a.channels.v&&a.fromHSVA(null,null,100,null),n.setPad(a,t,0,0);break;case"sld":n.setSld(a,t,0);break;case"asld":n.setASld(a,t,0)}a.trigger("input")},onDocumentPointerMove:function(e,t,r,o,i){return function(e){var o=n.getData(t,"instance");switch(r){case"pad":n.setPad(o,e,i[0],i[1]);break;case"sld":n.setSld(o,e,i[1]);break;case"asld":n.setASld(o,e,i[1])}o.trigger("input")}},onDocumentPointerEnd:function(e,t,r,o){return function(e){var r=n.getData(t,"instance");n.detachGroupEvents("drag"),r.trigger("input"),r.trigger("change")}},onPaletteSampleClick:function(e){var t=e.currentTarget,r=n.getData(t,"instance"),o=n.getData(t,"color");"any"===r.format.toLowerCase()&&(r._setFormat(o.format),n.isAlphaFormat(r.getFormat())||(o.rgba[3]=1)),null===o.rgba[3]&&(!0===r.paletteSetsAlpha||"auto"===r.paletteSetsAlpha&&r._paletteHasTransparency)&&(o.rgba[3]=1),r.fromRGBA.apply(r,o.rgba),r.trigger("input"),r.trigger("change"),r.hideOnPaletteClick&&r.hide()},setPad:function(e,t,r,o){var i=n.getAbsPointerPos(t),a=r+i.x-n._pointerOrigin.x-e.padding-e.controlBorderWidth,s=o+i.y-n._pointerOrigin.y-e.padding-e.controlBorderWidth,l=a*(360/(e.width-1)),h=100-s*(100/(e.height-1));switch(n.getPadYChannel(e)){case"s":e.fromHSVA(l,h,null,null);break;case"v":e.fromHSVA(l,null,h,null)}},setSld:function(e,t,r){var o=100-(r+n.getAbsPointerPos(t).y-n._pointerOrigin.y-e.padding-e.controlBorderWidth)*(100/(e.height-1));switch(n.getSliderChannel(e)){case"s":e.fromHSVA(null,o,null,null);break;case"v":e.fromHSVA(null,null,o,null)}},setASld:function(e,t,r){var o=1-(r+n.getAbsPointerPos(t).y-n._pointerOrigin.y-e.padding-e.controlBorderWidth)*(1/(e.height-1));if(o<1){var i=e.getFormat();"any"!==e.format.toLowerCase()||n.isAlphaFormat(i)||e._setFormat("hex"===i?"hexa":"rgba")}e.fromHSVA(null,null,null,o)},createPadCanvas:function(){var e={elm:null,draw:null},t=n.createEl("canvas"),r=t.getContext("2d");return e.elm=t,e.draw=function(e,n,o){t.width=e,t.height=n,r.clearRect(0,0,t.width,t.height);var i=r.createLinearGradient(0,0,t.width,0);i.addColorStop(0,"#F00"),i.addColorStop(1/6,"#FF0"),i.addColorStop(2/6,"#0F0"),i.addColorStop(.5,"#0FF"),i.addColorStop(4/6,"#00F"),i.addColorStop(5/6,"#F0F"),i.addColorStop(1,"#F00"),r.fillStyle=i,r.fillRect(0,0,t.width,t.height);var a=r.createLinearGradient(0,0,0,t.height);switch(o.toLowerCase()){case"s":a.addColorStop(0,"rgba(255,255,255,0)"),a.addColorStop(1,"rgba(255,255,255,1)");break;case"v":a.addColorStop(0,"rgba(0,0,0,0)"),a.addColorStop(1,"rgba(0,0,0,1)")}r.fillStyle=a,r.fillRect(0,0,t.width,t.height)},e},createSliderGradient:function(){var e={elm:null,draw:null},t=n.createEl("canvas"),r=t.getContext("2d");return e.elm=t,e.draw=function(e,n,o,i){t.width=e,t.height=n,r.clearRect(0,0,t.width,t.height);var a=r.createLinearGradient(0,0,0,t.height);a.addColorStop(0,o),a.addColorStop(1,i),r.fillStyle=a,r.fillRect(0,0,t.width,t.height)},e},createASliderGradient:function(){var e={elm:null,draw:null},t=n.createEl("canvas"),r=t.getContext("2d");return e.elm=t,e.draw=function(e,o,i){t.width=e,t.height=o,r.clearRect(0,0,t.width,t.height);var a=t.width/2,s=n.pub.chessboardColor1,l=n.pub.chessboardColor2;if(r.fillStyle=s,r.fillRect(0,0,t.width,t.height),a>0)for(var h=0;h<t.height;h+=2*a)r.fillStyle=l,r.fillRect(0,h,a,a),r.fillRect(a,h+a,a,a);var d=r.createLinearGradient(0,0,0,t.height);d.addColorStop(0,i),d.addColorStop(1,"rgba(0,0,0,0)"),r.fillStyle=d,r.fillRect(0,0,t.width,t.height)},e},BoxShadow:(t=function(e,t,r,n,o,i){this.hShadow=e,this.vShadow=t,this.blur=r,this.spread=n,this.color=o,this.inset=!!i},t.prototype.toString=function(){var e=[Math.round(this.hShadow)+"px",Math.round(this.vShadow)+"px",Math.round(this.blur)+"px",Math.round(this.spread)+"px",this.color];return this.inset&&e.push("inset"),e.join(" ")},t),flags:{leaveValue:1,leaveAlpha:2,leavePreview:4},enumOpts:{format:["auto","any","hex","hexa","rgb","rgba"],previewPosition:["left","right"],mode:["hsv","hvs","hs","hv"],position:["left","right","top","bottom"],alphaChannel:["auto",!0,!1],paletteSetsAlpha:["auto",!0,!1]},deprecatedOpts:{styleElement:"previewElement",onFineChange:"onInput",overwriteImportant:"forceStyle",closable:"closeButton",insetWidth:"controlBorderWidth",insetColor:"controlBorderColor",refine:null},docsRef:" See https://jscolor.com/docs/",pub:function(t,r){var o=this;function i(e,t){if("string"!=typeof e)throw new Error("Invalid value for option name: "+e);if(n.enumOpts.hasOwnProperty(e)&&("string"==typeof t&&(t=t.toLowerCase()),-1===n.enumOpts[e].indexOf(t)))throw new Error("Option '"+e+"' has invalid value: "+t);if(n.deprecatedOpts.hasOwnProperty(e)){var r=e,i=n.deprecatedOpts[e];if(!i)throw new Error("Option '"+e+"' is DEPRECATED");console.warn("Option '%s' is DEPRECATED, using '%s' instead."+n.docsRef,r,i),e=i}var a="set__"+e;if("function"==typeof o[a])return o[a](t),!0;if(e in o)return o[e]=t,!0;throw new Error("Unrecognized configuration option: "+e)}function a(){o._processParentElementsInDOM(),n.picker||(n.picker={owner:null,wrap:n.createEl("div"),box:n.createEl("div"),boxS:n.createEl("div"),boxB:n.createEl("div"),pad:n.createEl("div"),padB:n.createEl("div"),padM:n.createEl("div"),padCanvas:n.createPadCanvas(),cross:n.createEl("div"),crossBY:n.createEl("div"),crossBX:n.createEl("div"),crossLY:n.createEl("div"),crossLX:n.createEl("div"),sld:n.createEl("div"),sldB:n.createEl("div"),sldM:n.createEl("div"),sldGrad:n.createSliderGradient(),sldPtrS:n.createEl("div"),sldPtrIB:n.createEl("div"),sldPtrMB:n.createEl("div"),sldPtrOB:n.createEl("div"),asld:n.createEl("div"),asldB:n.createEl("div"),asldM:n.createEl("div"),asldGrad:n.createASliderGradient(),asldPtrS:n.createEl("div"),asldPtrIB:n.createEl("div"),asldPtrMB:n.createEl("div"),asldPtrOB:n.createEl("div"),pal:n.createEl("div"),btn:n.createEl("div"),btnT:n.createEl("div")},n.picker.pad.appendChild(n.picker.padCanvas.elm),n.picker.padB.appendChild(n.picker.pad),n.picker.cross.appendChild(n.picker.crossBY),n.picker.cross.appendChild(n.picker.crossBX),n.picker.cross.appendChild(n.picker.crossLY),n.picker.cross.appendChild(n.picker.crossLX),n.picker.padB.appendChild(n.picker.cross),n.picker.box.appendChild(n.picker.padB),n.picker.box.appendChild(n.picker.padM),n.picker.sld.appendChild(n.picker.sldGrad.elm),n.picker.sldB.appendChild(n.picker.sld),n.picker.sldB.appendChild(n.picker.sldPtrOB),n.picker.sldPtrOB.appendChild(n.picker.sldPtrMB),n.picker.sldPtrMB.appendChild(n.picker.sldPtrIB),n.picker.sldPtrIB.appendChild(n.picker.sldPtrS),n.picker.box.appendChild(n.picker.sldB),n.picker.box.appendChild(n.picker.sldM),n.picker.asld.appendChild(n.picker.asldGrad.elm),n.picker.asldB.appendChild(n.picker.asld),n.picker.asldB.appendChild(n.picker.asldPtrOB),n.picker.asldPtrOB.appendChild(n.picker.asldPtrMB),n.picker.asldPtrMB.appendChild(n.picker.asldPtrIB),n.picker.asldPtrIB.appendChild(n.picker.asldPtrS),n.picker.box.appendChild(n.picker.asldB),n.picker.box.appendChild(n.picker.asldM),n.picker.box.appendChild(n.picker.pal),n.picker.btn.appendChild(n.picker.btnT),n.picker.box.appendChild(n.picker.btn),n.picker.boxB.appendChild(n.picker.box),n.picker.wrap.appendChild(n.picker.boxS),n.picker.wrap.appendChild(n.picker.boxB),n.picker.wrap.addEventListener("touchstart",n.onPickerTouchStart,!!n.isPassiveEventSupported&&{passive:!1}));var e=n.picker,t=!!n.getSliderChannel(o),r=o.hasAlphaChannel(),i=n.getPickerDims(o),a=2*o.pointerBorderWidth+o.pointerThickness+2*o.crossSize,d=n.getControlPadding(o),p=Math.min(o.borderRadius,Math.round(o.padding*Math.PI));e.wrap.className="jscolor-wrap",e.wrap.style.width=i.borderW+"px",e.wrap.style.height=i.borderH+"px",e.wrap.style.zIndex=o.zIndex,e.box.className="jscolor-picker",e.box.style.width=i.paddedW+"px",e.box.style.height=i.paddedH+"px",e.boxS.className="jscolor-shadow",n.setBorderRadius(e.boxS,p+"px"),e.boxB.className="jscolor-border",e.boxB.style.border=o.borderWidth+"px solid",e.boxB.style.borderColor=o.borderColor,e.boxB.style.background=o.backgroundColor,n.setBorderRadius(e.boxB,p+"px"),e.padM.style.background="rgba(255,0,0,.2)",e.sldM.style.background="rgba(0,255,0,.2)",e.asldM.style.background="rgba(0,0,255,.2)",e.padM.style.opacity=e.sldM.style.opacity=e.asldM.style.opacity="0",e.pad.style.position="relative",e.pad.style.width=o.width+"px",e.pad.style.height=o.height+"px",e.padCanvas.draw(o.width,o.height,n.getPadYChannel(o)),e.padB.style.position="absolute",e.padB.style.left=o.padding+"px",e.padB.style.top=o.padding+"px",e.padB.style.border=o.controlBorderWidth+"px solid",e.padB.style.borderColor=o.controlBorderColor,e.padM.style.position="absolute",e.padM.style.left="0px",e.padM.style.top="0px",e.padM.style.width=o.padding+2*o.controlBorderWidth+o.width+d+"px",e.padM.style.height=2*o.controlBorderWidth+2*o.padding+o.height+"px",e.padM.style.cursor="crosshair",n.setData(e.padM,{instance:o,control:"pad"}),e.cross.style.position="absolute",e.cross.style.left=e.cross.style.top="0",e.cross.style.width=e.cross.style.height=a+"px",e.crossBY.style.position=e.crossBX.style.position="absolute",e.crossBY.style.background=e.crossBX.style.background=o.pointerBorderColor,e.crossBY.style.width=e.crossBX.style.height=2*o.pointerBorderWidth+o.pointerThickness+"px",e.crossBY.style.height=e.crossBX.style.width=a+"px",e.crossBY.style.left=e.crossBX.style.top=Math.floor(a/2)-Math.floor(o.pointerThickness/2)-o.pointerBorderWidth+"px",e.crossBY.style.top=e.crossBX.style.left="0",e.crossLY.style.position=e.crossLX.style.position="absolute",e.crossLY.style.background=e.crossLX.style.background=o.pointerColor,e.crossLY.style.height=e.crossLX.style.width=a-2*o.pointerBorderWidth+"px",e.crossLY.style.width=e.crossLX.style.height=o.pointerThickness+"px",e.crossLY.style.left=e.crossLX.style.top=Math.floor(a/2)-Math.floor(o.pointerThickness/2)+"px",e.crossLY.style.top=e.crossLX.style.left=o.pointerBorderWidth+"px",e.sld.style.overflow="hidden",e.sld.style.width=o.sliderSize+"px",e.sld.style.height=o.height+"px",e.sldGrad.draw(o.sliderSize,o.height,"#000","#000"),e.sldB.style.display=t?"block":"none",e.sldB.style.position="absolute",e.sldB.style.left=o.padding+o.width+2*o.controlBorderWidth+2*d+"px",e.sldB.style.top=o.padding+"px",e.sldB.style.border=o.controlBorderWidth+"px solid",e.sldB.style.borderColor=o.controlBorderColor,e.sldM.style.display=t?"block":"none",e.sldM.style.position="absolute",e.sldM.style.left=o.padding+o.width+2*o.controlBorderWidth+d+"px",e.sldM.style.top="0px",e.sldM.style.width=o.sliderSize+2*d+2*o.controlBorderWidth+(r?0:Math.max(0,o.padding-d))+"px",e.sldM.style.height=2*o.controlBorderWidth+2*o.padding+o.height+"px",e.sldM.style.cursor="default",n.setData(e.sldM,{instance:o,control:"sld"}),e.sldPtrIB.style.border=e.sldPtrOB.style.border=o.pointerBorderWidth+"px solid "+o.pointerBorderColor,e.sldPtrOB.style.position="absolute",e.sldPtrOB.style.left=-(2*o.pointerBorderWidth+o.pointerThickness)+"px",e.sldPtrOB.style.top="0",e.sldPtrMB.style.border=o.pointerThickness+"px solid "+o.pointerColor,e.sldPtrS.style.width=o.sliderSize+"px",e.sldPtrS.style.height=n.pub.sliderInnerSpace+"px",e.asld.style.overflow="hidden",e.asld.style.width=o.sliderSize+"px",e.asld.style.height=o.height+"px",e.asldGrad.draw(o.sliderSize,o.height,"#000"),e.asldB.style.display=r?"block":"none",e.asldB.style.position="absolute",e.asldB.style.left=o.padding+o.width+2*o.controlBorderWidth+d+(t?o.sliderSize+3*d+2*o.controlBorderWidth:0)+"px",e.asldB.style.top=o.padding+"px",e.asldB.style.border=o.controlBorderWidth+"px solid",e.asldB.style.borderColor=o.controlBorderColor,e.asldM.style.display=r?"block":"none",e.asldM.style.position="absolute",e.asldM.style.left=o.padding+o.width+2*o.controlBorderWidth+d+(t?o.sliderSize+2*d+2*o.controlBorderWidth:0)+"px",e.asldM.style.top="0px",e.asldM.style.width=o.sliderSize+2*d+2*o.controlBorderWidth+Math.max(0,o.padding-d)+"px",e.asldM.style.height=2*o.controlBorderWidth+2*o.padding+o.height+"px",e.asldM.style.cursor="default",n.setData(e.asldM,{instance:o,control:"asld"}),e.asldPtrIB.style.border=e.asldPtrOB.style.border=o.pointerBorderWidth+"px solid "+o.pointerBorderColor,e.asldPtrOB.style.position="absolute",e.asldPtrOB.style.left=-(2*o.pointerBorderWidth+o.pointerThickness)+"px",e.asldPtrOB.style.top="0",e.asldPtrMB.style.border=o.pointerThickness+"px solid "+o.pointerColor,e.asldPtrS.style.width=o.sliderSize+"px",e.asldPtrS.style.height=n.pub.sliderInnerSpace+"px",e.pal.className="jscolor-palette",e.pal.style.display=i.palette.rows?"block":"none",e.pal.style.left=o.padding+"px",e.pal.style.top=2*o.controlBorderWidth+2*o.padding+o.height+"px",e.pal.innerHTML="";for(var c=n.genColorPreviewCanvas("rgba(0,0,0,0)"),u=0,g=0;g<i.palette.rows;g++)for(var f=0;f<i.palette.cols&&u<o._palette.length;f++,u++){var v=o._palette[u],m=n.rgbaColor.apply(null,v.rgba),b=n.createEl("div");b.style.width=i.palette.cellW-2*o.controlBorderWidth+"px",b.style.height=i.palette.cellH-2*o.controlBorderWidth+"px",b.style.backgroundColor=m;var w=n.createEl("div");w.className="jscolor-palette-sw",w.style.left=(i.palette.cols<=1?0:Math.round(f*((i.contentW-i.palette.cellW)/(i.palette.cols-1))*10)/10)+"px",w.style.top=g*(i.palette.cellH+o.paletteSpacing)+"px",w.style.border=o.controlBorderWidth+"px solid",w.style.borderColor=o.controlBorderColor,null!==v.rgba[3]&&v.rgba[3]<1&&(w.style.backgroundImage="url('"+c.canvas.toDataURL()+"')",w.style.backgroundRepeat="repeat",w.style.backgroundPosition="center center"),n.setData(w,{instance:o,control:"palette-sw",color:v}),w.addEventListener("click",n.onPaletteSampleClick,!1),w.appendChild(b),e.pal.appendChild(w)}var y,E;e.btn.className="jscolor-btn jscolor-btn-close",e.btn.style.display=o.closeButton?"block":"none",e.btn.style.left=o.padding+"px",e.btn.style.bottom=o.padding+"px",e.btn.style.padding="0 15px",e.btn.style.maxWidth=i.contentW-2*o.controlBorderWidth-30+"px",e.btn.style.height=o.buttonHeight+"px",e.btn.style.border=o.controlBorderWidth+"px solid",y=o.controlBorderColor.split(/\s+/),E=y.length<2?y[0]:y[1]+" "+y[0]+" "+y[0]+" "+y[1],e.btn.style.borderColor=E,e.btn.style.color=o.buttonColor,e.btn.onmousedown=function(){o.hide()},e.btnT.style.display="inline",e.btnT.style.lineHeight=o.buttonHeight+"px",e.btnT.innerText=o.closeText,s(),l(),h(),n.picker.owner&&n.picker.owner!==o&&n.removeClass(n.picker.owner.targetElement,n.pub.activeClassName),n.picker.owner=o,n.redrawPosition(),e.wrap.parentNode!==o.container&&o.container.appendChild(e.wrap),n.addClass(o.targetElement,n.pub.activeClassName)}function s(){var e=n.getPadYChannel(o),t=Math.round(o.channels.h/360*(o.width-1)),r=Math.round((1-o.channels[e]/100)*(o.height-1)),i=2*o.pointerBorderWidth+o.pointerThickness+2*o.crossSize,a=-Math.floor(i/2);switch(n.picker.cross.style.left=t+a+"px",n.picker.cross.style.top=r+a+"px",n.getSliderChannel(o)){case"s":var s=n.HSV_RGB(o.channels.h,100,o.channels.v),l=n.HSV_RGB(o.channels.h,0,o.channels.v),h="rgb("+Math.round(s[0])+","+Math.round(s[1])+","+Math.round(s[2])+")",d="rgb("+Math.round(l[0])+","+Math.round(l[1])+","+Math.round(l[2])+")";n.picker.sldGrad.draw(o.sliderSize,o.height,h,d);break;case"v":var p=n.HSV_RGB(o.channels.h,o.channels.s,100);h="rgb("+Math.round(p[0])+","+Math.round(p[1])+","+Math.round(p[2])+")",d="#000";n.picker.sldGrad.draw(o.sliderSize,o.height,h,d)}n.picker.asldGrad.draw(o.sliderSize,o.height,o.toHEXString())}function l(){var e=n.getSliderChannel(o);if(e){var t=Math.round((1-o.channels[e]/100)*(o.height-1));n.picker.sldPtrOB.style.top=t-(2*o.pointerBorderWidth+o.pointerThickness)-Math.floor(n.pub.sliderInnerSpace/2)+"px"}n.picker.asldGrad.draw(o.sliderSize,o.height,o.toHEXString())}function h(){var e=Math.round((1-o.channels.a)*(o.height-1));n.picker.asldPtrOB.style.top=e-(2*o.pointerBorderWidth+o.pointerThickness)-Math.floor(n.pub.sliderInnerSpace/2)+"px"}function d(){return n.picker&&n.picker.owner===o}if(r||(r={}),this.channels={r:255,g:255,b:255,h:0,s:0,v:100,a:1},this.format="auto",this.value=void 0,this.alpha=void 0,this.random=!1,this.onChange=void 0,this.onInput=void 0,this.valueElement=void 0,this.alphaElement=void 0,this.previewElement=void 0,this.previewPosition="left",this.previewSize=32,this.previewPadding=8,this.required=!0,this.hash=!0,this.uppercase=!0,this.forceStyle=!0,this.width=181,this.height=101,this.mode="HSV",this.alphaChannel="auto",this.position="bottom",this.smartPosition=!0,this.showOnClick=!0,this.hideOnLeave=!0,this.palette=[],this.paletteCols=10,this.paletteSetsAlpha="auto",this.paletteHeight=16,this.paletteSpacing=4,this.hideOnPaletteClick=!1,this.sliderSize=16,this.crossSize=8,this.closeButton=!1,this.closeText="Close",this.buttonColor="rgba(0,0,0,1)",this.buttonHeight=18,this.padding=12,this.backgroundColor="rgba(255,255,255,1)",this.borderWidth=1,this.borderColor="rgba(187,187,187,1)",this.borderRadius=8,this.controlBorderWidth=1,this.controlBorderColor="rgba(187,187,187,1)",this.shadow=!0,this.shadowBlur=15,this.shadowColor="rgba(0,0,0,0.2)",this.pointerColor="rgba(76,76,76,1)",this.pointerBorderWidth=1,this.pointerBorderColor="rgba(255,255,255,1)",this.pointerThickness=2,this.zIndex=5e3,this.container=void 0,this.minS=0,this.maxS=100,this.minV=0,this.maxV=100,this.minA=0,this.maxA=1,this.option=function(){if(!arguments.length)throw new Error("No option specified");if(1===arguments.length&&"string"==typeof arguments[0]){try{return function(e){if("string"!=typeof e)throw new Error("Invalid value for option name: "+e);if(n.deprecatedOpts.hasOwnProperty(e)){var t=e,r=n.deprecatedOpts[e];if(!r)throw new Error("Option '"+e+"' is DEPRECATED");console.warn("Option '%s' is DEPRECATED, using '%s' instead."+n.docsRef,t,r),e=r}var i="get__"+e;if("function"==typeof o[i])return o[i](value);if(e in o)return o[e];throw new Error("Unrecognized configuration option: "+e)}(arguments[0])}catch(e){console.warn(e)}return!1}if(arguments.length>=2&&"string"==typeof arguments[0]){try{if(!i(arguments[0],arguments[1]))return!1}catch(e){return console.warn(e),!1}return this.redraw(),this.exposeColor(),!0}if(1===arguments.length&&"object"==typeof arguments[0]){var e=arguments[0],t=!0;for(var r in e)if(e.hasOwnProperty(r))try{i(r,e[r])||(t=!1)}catch(e){console.warn(e),t=!1}return this.redraw(),this.exposeColor(),t}throw new Error("Invalid arguments")},this.channel=function(e,t){if("string"!=typeof e)throw new Error("Invalid value for channel name: "+e);if(void 0===t)return this.channels.hasOwnProperty(e.toLowerCase())?this.channels[e.toLowerCase()]:(console.warn("Getting unknown channel: "+e),!1);var r=!1;switch(e.toLowerCase()){case"r":r=this.fromRGBA(t,null,null,null);break;case"g":r=this.fromRGBA(null,t,null,null);break;case"b":r=this.fromRGBA(null,null,t,null);break;case"h":r=this.fromHSVA(t,null,null,null);break;case"s":r=this.fromHSVA(null,t,null,null);break;case"v":r=this.fromHSVA(null,null,t,null);break;case"a":r=this.fromHSVA(null,null,null,t);break;default:return console.warn("Setting unknown channel: "+e),!1}return!!r&&(this.redraw(),!0)},this.trigger=function(e){for(var t=n.strList(e),r=0;r<t.length;r+=1){var o=t[r].toLowerCase(),i=null;switch(o){case"input":i="onInput";break;case"change":i="onChange"}i&&n.triggerCallback(this,i),n.triggerInputEvent(this.valueElement,o,!0,!0)}},this.fromHSVA=function(e,t,r,o,i){if(void 0===e&&(e=null),void 0===t&&(t=null),void 0===r&&(r=null),void 0===o&&(o=null),null!==e){if(isNaN(e))return!1;this.channels.h=Math.max(0,Math.min(360,e))}if(null!==t){if(isNaN(t))return!1;this.channels.s=Math.max(0,Math.min(100,this.maxS,t),this.minS)}if(null!==r){if(isNaN(r))return!1;this.channels.v=Math.max(0,Math.min(100,this.maxV,r),this.minV)}if(null!==o){if(isNaN(o))return!1;this.channels.a=this.hasAlphaChannel()?Math.max(0,Math.min(1,this.maxA,o),this.minA):1}var a=n.HSV_RGB(this.channels.h,this.channels.s,this.channels.v);return this.channels.r=a[0],this.channels.g=a[1],this.channels.b=a[2],this.exposeColor(i),!0},this.fromRGBA=function(e,t,r,o,i){if(void 0===e&&(e=null),void 0===t&&(t=null),void 0===r&&(r=null),void 0===o&&(o=null),null!==e){if(isNaN(e))return!1;e=Math.max(0,Math.min(255,e))}if(null!==t){if(isNaN(t))return!1;t=Math.max(0,Math.min(255,t))}if(null!==r){if(isNaN(r))return!1;r=Math.max(0,Math.min(255,r))}if(null!==o){if(isNaN(o))return!1;this.channels.a=this.hasAlphaChannel()?Math.max(0,Math.min(1,this.maxA,o),this.minA):1}var a=n.RGB_HSV(null===e?this.channels.r:e,null===t?this.channels.g:t,null===r?this.channels.b:r);null!==a[0]&&(this.channels.h=Math.max(0,Math.min(360,a[0]))),0!==a[2]&&(this.channels.s=Math.max(0,this.minS,Math.min(100,this.maxS,a[1]))),this.channels.v=Math.max(0,this.minV,Math.min(100,this.maxV,a[2]));var s=n.HSV_RGB(this.channels.h,this.channels.s,this.channels.v);return this.channels.r=s[0],this.channels.g=s[1],this.channels.b=s[2],this.exposeColor(i),!0},this.fromHSV=function(e,t,r,o){return console.warn("fromHSV() method is DEPRECATED. Using fromHSVA() instead."+n.docsRef),this.fromHSVA(e,t,r,null,o)},this.fromRGB=function(e,t,r,o){return console.warn("fromRGB() method is DEPRECATED. Using fromRGBA() instead."+n.docsRef),this.fromRGBA(e,t,r,null,o)},this.fromString=function(e,t){if(!this.required&&""===e.trim())return this.setPreviewElementBg(null),this.setValueElementValue(""),!0;var r=n.parseColorString(e);return!!r&&("any"===this.format.toLowerCase()&&(this._setFormat(r.format),n.isAlphaFormat(this.getFormat())||(r.rgba[3]=1)),this.fromRGBA(r.rgba[0],r.rgba[1],r.rgba[2],r.rgba[3],t),!0)},this.randomize=function(e,t,r,n,o,i,a,s){void 0===e&&(e=0),void 0===t&&(t=100),void 0===r&&(r=0),void 0===n&&(n=100),void 0===o&&(o=0),void 0===i&&(i=359),void 0===a&&(a=1),void 0===s&&(s=1),this.fromHSVA(o+Math.floor(Math.random()*(i-o+1)),r+Math.floor(Math.random()*(n-r+1)),e+Math.floor(Math.random()*(t-e+1)),(100*a+Math.floor(Math.random()*(100*(s-a)+1)))/100)},this.toString=function(e){switch(void 0===e&&(e=this.getFormat()),e.toLowerCase()){case"hex":return this.toHEXString();case"hexa":return this.toHEXAString();case"rgb":return this.toRGBString();case"rgba":return this.toRGBAString()}return!1},this.toHEXString=function(){return n.hexColor(this.channels.r,this.channels.g,this.channels.b)},this.toHEXAString=function(){return n.hexaColor(this.channels.r,this.channels.g,this.channels.b,this.channels.a)},this.toRGBString=function(){return n.rgbColor(this.channels.r,this.channels.g,this.channels.b)},this.toRGBAString=function(){return n.rgbaColor(this.channels.r,this.channels.g,this.channels.b,this.channels.a)},this.toGrayscale=function(){return.213*this.channels.r+.715*this.channels.g+.072*this.channels.b},this.toCanvas=function(){return n.genColorPreviewCanvas(this.toRGBAString()).canvas},this.toDataURL=function(){return this.toCanvas().toDataURL()},this.toBackground=function(){return n.pub.background(this.toRGBAString())},this.isLight=function(){return this.toGrayscale()>127.5},this.hide=function(){d()&&(n.removeClass(o.targetElement,n.pub.activeClassName),n.picker.wrap.parentNode.removeChild(n.picker.wrap),delete n.picker.owner)},this.show=function(){a()},this.redraw=function(){d()&&a()},this.getFormat=function(){return this._currentFormat},this._setFormat=function(e){this._currentFormat=e.toLowerCase()},this.hasAlphaChannel=function(){return"auto"===this.alphaChannel?"any"===this.format.toLowerCase()||n.isAlphaFormat(this.getFormat())||void 0!==this.alpha||void 0!==this.alphaElement:this.alphaChannel},this.processValueInput=function(e){this.fromString(e)||this.exposeColor()},this.processAlphaInput=function(e){this.fromHSVA(null,null,null,parseFloat(e))||this.exposeColor()},this.exposeColor=function(e){var t=this.toString(),r=this.getFormat();if(n.setDataAttr(this.targetElement,"current-color",t),e&n.flags.leaveValue||!this.valueElement||("hex"!==r&&"hexa"!==r||(this.uppercase||(t=t.toLowerCase()),this.hash||(t=t.replace(/^#/,""))),this.setValueElementValue(t)),!(e&n.flags.leaveAlpha)&&this.alphaElement){var o=Math.round(100*this.channels.a)/100;this.setAlphaElementValue(o)}if(!(e&n.flags.leavePreview)&&this.previewElement){(n.isTextInput(this.previewElement)||n.isButton(this.previewElement)&&!n.isButtonEmpty(this.previewElement))&&this.previewPosition,this.setPreviewElementBg(this.toRGBAString())}d()&&(s(),l(),h())},this.setPreviewElementBg=function(e){if(this.previewElement){var t=null,r=null;(n.isTextInput(this.previewElement)||n.isButton(this.previewElement)&&!n.isButtonEmpty(this.previewElement))&&(t=this.previewPosition,r=this.previewSize);var o=[];if(e){o.push({image:n.genColorPreviewGradient(e,t,r?r-n.pub.previewSeparator.length:null),position:"left top",size:"auto",repeat:t?"repeat-y":"repeat",origin:"padding-box"});var i=n.genColorPreviewCanvas("rgba(0,0,0,0)",t?{left:"right",right:"left"}[t]:null,r,!0);o.push({image:"url('"+i.canvas.toDataURL()+"')",position:(t||"left")+" top",size:i.width+"px "+i.height+"px",repeat:t?"repeat-y":"repeat",origin:"padding-box"})}else o.push({image:"none",position:"left top",size:"auto",repeat:"no-repeat",origin:"padding-box"});for(var a={image:[],position:[],size:[],repeat:[],origin:[]},s=0;s<o.length;s+=1)a.image.push(o[s].image),a.position.push(o[s].position),a.size.push(o[s].size),a.repeat.push(o[s].repeat),a.origin.push(o[s].origin);var l={"background-image":a.image.join(", "),"background-position":a.position.join(", "),"background-size":a.size.join(", "),"background-repeat":a.repeat.join(", "),"background-origin":a.origin.join(", ")};n.setStyle(this.previewElement,l,this.forceStyle);var h={left:null,right:null};t&&(h[t]=this.previewSize+this.previewPadding+"px");l={"padding-left":h.left,"padding-right":h.right};n.setStyle(this.previewElement,l,this.forceStyle,!0)}},this.setValueElementValue=function(e){this.valueElement&&("input"===n.nodeName(this.valueElement)?this.valueElement.value=e:this.valueElement.innerHTML=e)},this.setAlphaElementValue=function(e){this.alphaElement&&("input"===n.nodeName(this.alphaElement)?this.alphaElement.value=e:this.alphaElement.innerHTML=e)},this._processParentElementsInDOM=function(){if(!this._parentElementsProcessed){this._parentElementsProcessed=!0;var e=this.targetElement;do{var t=n.getCompStyle(e);t.position&&"fixed"===t.position.toLowerCase()&&(this.fixed=!0),e!==this.targetElement&&(n.getData(e,"hasScrollListener")||(e.addEventListener("scroll",n.onParentScroll,!1),n.setData(e,"hasScrollListener",!0)))}while((e=e.parentNode)&&"body"!==n.nodeName(e))}},this.tryHide=function(){this.hideOnLeave&&this.hide()},this.set__palette=function(e){this.palette=e,this._palette=n.parsePaletteValue(e),this._paletteHasTransparency=n.containsTranparentColor(this._palette)},n.pub.options)for(var p in n.pub.options)if(n.pub.options.hasOwnProperty(p))try{i(p,n.pub.options[p])}catch(e){console.warn(e)}var c=[];r.preset&&("string"==typeof r.preset?c=r.preset.split(/\s+/):Array.isArray(r.preset)?c=r.preset.slice():console.warn("Unrecognized preset value")),-1===c.indexOf("default")&&c.push("default");for(var u=c.length-1;u>=0;u-=1){var g=c[u];if(g)if(n.pub.presets.hasOwnProperty(g)){for(var p in n.pub.presets[g])if(n.pub.presets[g].hasOwnProperty(p))try{i(p,n.pub.presets[g][p])}catch(e){console.warn(e)}}else console.warn("Unknown preset: %s",g)}var f=["preset"];for(var p in r)if(r.hasOwnProperty(p)&&-1===f.indexOf(p))try{i(p,r[p])}catch(e){console.warn(e)}if(void 0===this.container?this.container=e.document.body:this.container=n.node(this.container),!this.container)throw new Error("Cannot instantiate color picker without a container element");if(this.targetElement=n.node(t),!this.targetElement){if("string"==typeof t&&/^[a-zA-Z][\w:.-]*$/.test(t)){throw new Error("If '"+t+"' is supposed to be an ID, please use '#"+t+"' or any valid CSS selector.")}throw new Error("Cannot instantiate color picker without a target element")}if(this.targetElement.jscolor&&this.targetElement.jscolor instanceof n.pub)throw new Error("Color picker already installed on this element");if(this.targetElement.jscolor=this,n.addClass(this.targetElement,n.pub.className),n.instances.push(this),n.isButton(this.targetElement)&&("button"!==this.targetElement.type.toLowerCase()&&(this.targetElement.type="button"),n.isButtonEmpty(this.targetElement))){n.removeChildren(this.targetElement),this.targetElement.appendChild(e.document.createTextNode(" "));var v=n.getCompStyle(this.targetElement);(parseFloat(v["min-width"])||0)<this.previewSize&&n.setStyle(this.targetElement,{"min-width":this.previewSize+"px"},this.forceStyle)}if(void 0===this.valueElement?n.isTextInput(this.targetElement)&&(this.valueElement=this.targetElement):null===this.valueElement||(this.valueElement=n.node(this.valueElement)),this.alphaElement&&(this.alphaElement=n.node(this.alphaElement)),void 0===this.previewElement?this.previewElement=this.targetElement:null===this.previewElement||(this.previewElement=n.node(this.previewElement)),this.valueElement&&n.isTextInput(this.valueElement)){var m={onInput:this.valueElement.oninput};this.valueElement.oninput=null,this.valueElement.addEventListener("keydown",function(e){"Enter"===n.eventKey(e)&&(o.valueElement&&o.processValueInput(o.valueElement.value),o.tryHide())},!1),this.valueElement.addEventListener("change",function(e){if(!n.getData(e,"internal")){var t=o.valueElement.value;o.processValueInput(o.valueElement.value),n.triggerCallback(o,"onChange"),o.valueElement.value!==t&&n.triggerInputEvent(o.valueElement,"change",!0,!0)}},!1),this.valueElement.addEventListener("input",function(e){n.getData(e,"internal")||(o.valueElement&&o.fromString(o.valueElement.value,n.flags.leaveValue),n.triggerCallback(o,"onInput"))},!1),m.onInput&&this.valueElement.addEventListener("input",m.onInput,!1),this.valueElement.setAttribute("autocomplete","off"),this.valueElement.setAttribute("autocorrect","off"),this.valueElement.setAttribute("autocapitalize","off"),this.valueElement.setAttribute("spellcheck",!1)}this.alphaElement&&n.isTextInput(this.alphaElement)&&(this.alphaElement.addEventListener("keydown",function(e){"Enter"===n.eventKey(e)&&(o.alphaElement&&o.processAlphaInput(o.alphaElement.value),o.tryHide())},!1),this.alphaElement.addEventListener("change",function(e){if(!n.getData(e,"internal")){var t=o.alphaElement.value;o.processAlphaInput(o.alphaElement.value),n.triggerCallback(o,"onChange"),n.triggerInputEvent(o.valueElement,"change",!0,!0),o.alphaElement.value!==t&&n.triggerInputEvent(o.alphaElement,"change",!0,!0)}},!1),this.alphaElement.addEventListener("input",function(e){n.getData(e,"internal")||(o.alphaElement&&o.fromHSVA(null,null,null,parseFloat(o.alphaElement.value),n.flags.leaveAlpha),n.triggerCallback(o,"onInput"),n.triggerInputEvent(o.valueElement,"input",!0,!0))},!1),this.alphaElement.setAttribute("autocomplete","off"),this.alphaElement.setAttribute("autocorrect","off"),this.alphaElement.setAttribute("autocapitalize","off"),this.alphaElement.setAttribute("spellcheck",!1));var b="FFFFFF";void 0!==this.value?b=this.value:this.valueElement&&void 0!==this.valueElement.value&&(b=this.valueElement.value);var w=void 0;if(void 0!==this.alpha?w=""+this.alpha:this.alphaElement&&void 0!==this.alphaElement.value&&(w=this.alphaElement.value),this._currentFormat=null,["auto","any"].indexOf(this.format.toLowerCase())>-1){var y=n.parseColorString(b);this._currentFormat=y?y.format:"hex"}else this._currentFormat=this.format.toLowerCase();this.processValueInput(b),void 0!==w&&this.processAlphaInput(w),this.random&&this.randomize.apply(this,Array.isArray(this.random)?this.random:[])}}).pub.className="jscolor",n.pub.activeClassName="jscolor-active",n.pub.looseJSON=!0,n.pub.presets={},n.pub.presets.default={},n.pub.presets.light={backgroundColor:"rgba(255,255,255,1)",controlBorderColor:"rgba(187,187,187,1)",buttonColor:"rgba(0,0,0,1)"},n.pub.presets.dark={backgroundColor:"rgba(51,51,51,1)",controlBorderColor:"rgba(153,153,153,1)",buttonColor:"rgba(240,240,240,1)"},n.pub.presets.small={width:101,height:101,padding:10,sliderSize:14,paletteCols:8},n.pub.presets.medium={width:181,height:101,padding:12,sliderSize:16,paletteCols:10},n.pub.presets.large={width:271,height:151,padding:12,sliderSize:24,paletteCols:15},n.pub.presets.thin={borderWidth:1,controlBorderWidth:1,pointerBorderWidth:1},n.pub.presets.thick={borderWidth:2,controlBorderWidth:2,pointerBorderWidth:2},n.pub.sliderInnerSpace=3,n.pub.chessboardSize=8,n.pub.chessboardColor1="#666666",n.pub.chessboardColor2="#999999",n.pub.previewSeparator=["rgba(255,255,255,.65)","rgba(128,128,128,.65)"],n.pub.init=function(){if(!n.initialized)for(e.document.addEventListener("mousedown",n.onDocumentMouseDown,!1),e.document.addEventListener("keyup",n.onDocumentKeyUp,!1),e.addEventListener("resize",n.onWindowResize,!1),e.addEventListener("scroll",n.onWindowScroll,!1),n.appendDefaultCss(),n.pub.install(),n.initialized=!0;n.readyQueue.length;)n.readyQueue.shift()()},n.pub.install=function(e){var t=!0;try{n.installBySelector("[data-jscolor]",e)}catch(e){t=!1,console.warn(e)}if(n.pub.lookupClass)try{n.installBySelector("input."+n.pub.lookupClass+", button."+n.pub.lookupClass,e)}catch(e){}return t},n.pub.ready=function(e){return"function"!=typeof e?(console.warn("Passed value is not a function"),!1):(n.initialized?e():n.readyQueue.push(e),!0)},n.pub.trigger=function(e){var t=function(){n.triggerGlobal(e)};n.initialized?t():n.pub.ready(t)},n.pub.hide=function(){n.picker&&n.picker.owner&&n.picker.owner.hide()},n.pub.chessboard=function(e){return e||(e="rgba(0,0,0,0)"),n.genColorPreviewCanvas(e).canvas.toDataURL()},n.pub.background=function(e){var t=[];t.push(n.genColorPreviewGradient(e));var r=n.genColorPreviewCanvas();return t.push(["url('"+r.canvas.toDataURL()+"')","left top","repeat"].join(" ")),t.join(", ")},n.pub.options={},n.pub.lookupClass="jscolor",n.pub.installByClassName=function(){return console.error('jscolor.installByClassName() is DEPRECATED. Use data-jscolor="" attribute instead of a class name.'+n.docsRef),!1},n.register(),n.pub);return void 0===e.jscolor&&(e.jscolor=e.JSColor=o),o});
</script>  
<script type="text/javascript"><!--
   var editor_css = CodeMirror.fromTextArea(document.getElementById('input-part'), {
   	mode: 'css',
   	lineNumbers: true,
   	autofocus: true,
   	theme: 'monokai'
   });
   //-->
</script>
<script type="text/javascript"><!--
   var editor_css = CodeMirror.fromTextArea(document.getElementById('input-part2'), {
   	mode: 'css',
   	lineNumbers: true,
   	autofocus: true,
   	theme: 'monokai'
   });
   //-->
</script>
<script type="text/javascript"><!--
   $('a[href="#tab_2"]').on('shown.bs.tab', function () {
     $('.CodeMirror').each(function(i, el){
       el.CodeMirror.refresh(),
       el.CodeMirror.setSize(null, 600)
     });
   });
   
   //-->
</script>