<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="cart-toogle"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span id="cart-total">{{ text_items }}</span></button>
    <ul class="cart-dropdown-menu dropdown-menu">
        {% if products or vouchers %}
        <li class="has-scroll cart-product">
            <div class="cart-product-content">
                <table class="table">
                    {% for product in products %}
                    <tr class="cart-item">
                        <td class="text-center cart-item-image">
                            {% if product.thumb %} 
                            <a href="{{ product.href }}"><img class="cart-image" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> 
                            {% endif %}
                        </td>
                        <td class="text-left cart-item-info">
                            <a href="{{ product.href }}" class="cart-item-title">{{ product.name }}</a> 
                            {% if product.option %}
                            {% for option in product.option %}
                            <small>- {{ option.name }} {{ option.value }}</small> {% endfor %}
                            {% endif %}
                            {% if product.recurring %}
                            <small>- {{ text_recurring }} {{ product.recurring }}</small> 
                            {% endif %}
                            <p class="cart-item-quantity">&times;{{ product.quantity }}</p>
                            <p class="cart-item-price">{{ product.total }}</p>
                        </td>          
                        <td class="text-center cart-close"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="ion-android-close"></i></button></td>
                    </tr>
                    {% endfor %}
                    {% for voucher in vouchers %}
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-left">{{ voucher.description }}</td>
                        <td class="text-right">x&nbsp;1</td>
                        <td class="text-right">{{ voucher.amount }}</td>
                        <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="ion-android-close"></i></button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </li>
        <li class="cart-info">
            <div class="cart-info-content">
                <table class="table">
                    {% for total in totals %}
                    <tr>
                        <td class="text-left">{{ total.title ~ " :" }}</td>
                        <td class="text-right">{{ total.text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </li>
        {% else %}
        <li>
            <p class="text-center cart-empty">{{ text_empty }}</p>
        </li>
        {% endif %}
    </ul>
</div>
